<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#" title="Go to homepage"></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false"
                    ng-click="vm.navCollapsed = !vm.navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div uib-collapse="vm.navCollapsed" class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <!-- Current play -->
                <li><a ui-sref="theme">Stats</a></li>
                <li><a ui-sref="theme">Equipment</a></li>
                <li><a ui-sref="theme">Note</a></li>
                <li><a ui-sref="theme">Path</a></li>
                <li><a ui-sref="theme">Dices</a></li>
                <li role="separator" class="divider"></li>
                <!-- Manage play -->
                <li><a ui-sref="theme">Gameplay</a></li>
                <li><a ui-sref="theme">Configuration</a></li>

                <!-- Misc -->
                <li><a ui-sref="theme">Import/Export</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!vm.oAuthService.isLoggedIn()"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-show="vm.oAuthService.isLoggedIn()"><a ui-sref="logout"><span class="glyphicon glyphicon-log-in"></span> Hallo {{ vm.oAuthService.getUsername() }} - Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>