* {
    /* correct css conflict between pure and skeleton */
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.no-text-decoration {
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
}

.button {
    text-transform: none;
}


/* This is the class used for the footer */
.footer {
    background: rgb(238, 238, 238);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-left {
    text-align: left;
    float: left;
    width: 50%;
}

.footer-right {
    text-align: right;
    float: right;
    width: 50%;
}
