<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">

        <h1>Dices</h1>

        <div>
            <div class="form-group">
                <input type="text" readonly class="form-control" id="diceValues" ng-model="ctrl.dicesValue">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="ctrl.roll1d6()">Roll 1D6</button>
                <button class="btn btn-primary" ng-click="ctrl.roll2d6()">Roll 2D6</button>
                <button class="btn btn-default" ng-click="ctrl.clear()">Clear</button>
            </div>
        </div>
    </div>
</main>