<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Books' | translate }}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <col style="width:35%">
                    <col style="width:30%">
                    <col style="width:5% ">
                    <col style="width:10% ">
                    <col style="width:10% ">
                    <col style="width:5%">
                    <thead>
                    <tr>
                        <!-- name, nbParagprahs, language, version, author, selected -->
                        <th>{{ 'Name' | translate }}</th>
                        <th>{{ 'Author(s)' | translate }}</th>
                        <th>{{ 'Length' | translate }}</th>
                        <th>{{ 'Language' | translate }}</th>
                        <th>{{ 'Version' | translate }}</th>
                        <th>{{ 'Selection' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.rows">
                        <td>{{ row.name }}</td>
                        <td>{{ row.authors }}</td>
                        <td aria-label="{{ 'NumberOfParagraphs' | translate: {numberOfParagraphs: row.numberOfParagraphs} }}"
                            title="{{ 'NumberOfParagraphs' | translate: {numberOfParagraphs: row.numberOfParagraphs} }}">
                            {{ row.numberOfParagraphs }}§
                        </td>
                        <td>{{ row.language | translate }}</td>
                        <td>{{ row.version }}</td>
                        <td>
                            <button type="button" class="btn" ng-class="{ 'btn-success' : row.selected, 'btn-default' : !row.selected}"
                                    aria-label="{{ !row.selected ?
                                        ('ChoiceGame' | translate: {bookName: row.bookName, playerName: row.playerName}) :
                                        ('ChoosenGame' | translate: {bookName: row.bookName, playerName: row.playerName}) }}"
                                    title="{{ !row.selected ?
                                        ('ChoiceGame' | translate: {bookName: row.bookName, playerName: row.playerName}) :
                                        ('ChoosenGame' | translate: {bookName: row.bookName, playerName: row.playerName}) }}"
                                    ng-click="$ctrl.select(row)">
                                <span ng-class="{ 'glyphicon glyphicon-ok' : row.selected, 'glyphicon glyphicon-hand-left' : !row.selected}" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <back-button></back-button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Create a book' | translate }}"
                title="{{ 'Create a book' | translate }}"
                ng-click="$ctrl.createBook()">{{ 'Create' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Import a book' | translate }}"
                title="{{ 'Import a book' | translate }}">{{ 'Import' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Display selected book' | translate }}"
                title="{{ 'Display selected book' | translate }}"
                ng-disabled="!$ctrl.hasSelectedRow()"
                ng-click="$ctrl.displayBook()">{{ 'Display' | translate }}</button>
        <button type="button" class="btn btn-danger"
                ng-disabled="!$ctrl.hasSelectedRow()"
                aria-label="{{ 'Remove selected book' | translate }}"
                title="{{ 'Remove selected book' | translate }}"
                ng-click="$ctrl.displayRemoveBooksPopup()">{{ 'Remove' | translate }}</button>
        <button type="button" class="btn btn-default"
                ng-disabled="!$ctrl.hasSelectedRow()"
                aria-label="{{ 'Export selected book' | translate }}"
                title="{{ 'Export selected book' | translate }}">{{ 'Export' | translate }}</button>
    </div>
</main>

<popup config="{{ $ctrl.popupDeleteBookConfig }}"></popup>
