.numeric-pad button {
    margin-bottom: 0px;
}

.numeric-pad tr {
    padding: 0px 15px 0px 15px;
}

.numeric-pad td {
    padding: 0px 0px 0px 0px;
}

.numeric-pad tr:nth-child(2) > td {
    padding-top: 12px;
}

.numeric-pad tr:last-child > td {
    padding-bottom: 12px;
}

.numeric-pad .button {
    padding: 0;
    font-size: inherit;
    font-weight: bold;
    width: 80px;
}

#numericpad-cancel {
    background: #ffe6e6;
}

#numericpad-ok {
    background: #F0FFF0;
}