/*
 see following site to know how to internationalise with css:
 https://www.smashingmagazine.com/2014/06/css-driven-internationalization-in-javascript/
 */
.i18n::before, .i18n:lang(en)::before {
   content: attr(data-en);
}

.i18n:lang(fr)::before {
   content: attr(data-fr);
}