<messages></messages>
<about></about>
<main>
    <div class="container bg-white" role="main">
        <h2>{{ 'Adventures' | translate }}</h2>

        <ul>
            <li ng-repeat="adventure in $ctrl.adventures">
                <span>
                    {{ (!!adventure.serie ? adventure.serie + ': ': '') +  adventure.name }} {{ ($ctrl.hasAdventureToBeDownloaded(adventure) ? 'downloadable_in_list' : '') | translate }}
                </span>
                <button type="button"
                        class="btn btn-xs btn-default"
                        aria-label="{{ 'Display actions' | translate}}"
                        title="{{ 'Display actions' | translate}}"
                        ng-if="!adventure.missingAdventure"
                        ng-click="$ctrl.displaySelectedAdventureActions(adventure)">
                    <span aria-hidden="true">{{ 'Display actions' | translate }}</span>
                </button>

                <ul>
                    <li ng-repeat="game in adventure.games">
                        <span>
                            {{ 'GameOverview' | translate: { playerName: game.playerName, currentParagraphNr: game.currentParagraphNr + (!!game.paragraphTag ? '(' + game.paragraphTag + ')' : '')} }}
                        </span>
                        <button type="button"
                                class="btn btn-xs btn-default"
                                aria-label="{{ 'Display actions' | translate}}"
                                title="{{ 'Display actions' | translate}}"
                                ng-click="$ctrl.displaySelectedGameActions(game)">
                            <span aria-hidden="true">{{ 'Display actions' | translate }}</span>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>

        <button type="button" class="btn btn-default"
                aria-label="{{ 'Create' | translate }}"
                title="{{ 'Create' | translate }}"
                ng-click="$ctrl.displayCreateActions()">{{ 'Create' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Import' | translate }}"
                title="{{ 'Import' | translate }}"
                ng-click="$ctrl.displayImportActions()">{{ 'Import' | translate }}</button>
    </div>
</main>
<footnote></footnote>

<a id="linkDownloadExportAdventure" ng-show="false" ng-href="{{$ctrl.exportDownloadBlobUrl}}" download="exportAdventure.txt">download adventure (link hidden)</a>
<a id="linkDownloadExportGame" ng-show="false" ng-href="{{$ctrl.exportDownloadBlobUrl}}" download="exportGame.txt">download game (link hidden)</a>

<popup config="{{ $ctrl.popupDeleteAdventureConfig }}"></popup>
<popup config="{{ $ctrl.popupDownloadAdventureConfig }}"></popup>
<popup config="{{ $ctrl.popupDeleteGameConfig }}"></popup>
<popup config="{{ $ctrl.popupRestartGameConfig }}"></popup>
<popup config="{{ $ctrl.popupDisplaySelectedAdventureActionsConfig }}"></popup>
<popup config="{{ $ctrl.popupDisplaySelectedGameActionsConfig }}"></popup>
<popup config="{{ $ctrl.popupDisplayCreateActionsConfig }}"></popup>
<popup config="{{ $ctrl.popupDisplayImportActionsConfig }}"></popup>
<import-data-popup config="$ctrl.popupImportAdventureConfig"></import-data-popup>
<import-data-popup config="$ctrl.popupImportGameConfig"></import-data-popup>