<toolbar title="Gamebook Assistant"></toolbar>
<messages></messages>
<main>
    <div layout="row">
        <div flex="20" hide-sm hide-xs>
        </div>
        <div flex>
            <md-list flex>
                <md-subheader class="md-no-sticky">{{ 'Adventures' | translate }}</md-subheader>
                <div ng-repeat="adventure in $ctrl.adventures">
                    <md-list-item>
                        <div class="md-list-item-text" layout="row">
                            <div>
                                <span>
                                    {{ (!!adventure.serie ? adventure.serie + ': ': '') +  adventure.name }} {{ ($ctrl.hasAdventureToBeDownloaded(adventure) ? 'downloadable_in_list' : '') | translate }}
                                </span>
                                <md-menu ng-if="!adventure.missingAdventure">
                                    <md-button ng-click="$mdMenu.open($event)"
                                               class="md-fab md-mini"
                                               aria-label="{{ 'Display actions' | translate}}"
                                               title="{{ 'Display actions' | translate}}">
                                        <md-icon ng-bind="'menu'"></md-icon>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button ng-click="$ctrl.displayAdventure(adventure)">{{ 'Display' |
                                                translate }}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="$ctrl.displayRemoveAdventurePopup($event, adventure)">
                                                {{ 'Remove' |
                                                translate }}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="$ctrl.exportAdventure(adventure.id)">{{ 'Export' |
                                                translate }}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="!!adventure.downloadUrl">
                                            <md-button ng-click="$ctrl.displayDownloadAdventurePopup($event, adventure)">{{ 'Download' | translate }}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="$ctrl.displayStartGamePopup($event, adventure)">{{
                                                'Create a game'
                                                | translate }}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>

                                <md-list-item ng-repeat="game in adventure.games">
                                    <div class="md-list-item-text" layout="row">
                                        <div>
                                            <span>
                                                {{ game.name + ' (' + game.time + ')' }}
                                            </span>
                                            <md-menu>
                                                <md-button ng-click="$mdMenu.open($event)"
                                                           class="md-fab md-mini"
                                                           aria-label="{{ 'Display actions' | translate}}"
                                                           title="{{ 'Display actions' | translate}}">
                                                    <md-icon ng-bind="'menu'"></md-icon>
                                                </md-button>
                                                <md-menu-content>
                                                    <md-menu-item>
                                                        <md-button ng-click="$ctrl.continueGame(game)">{{ 'Continue' | translate }}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="$ctrl.displayRestartGamePopup($event, game)">{{ 'Restart' |
                                                            translate }}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="$ctrl.displayRemoveGamePopup($event, game)">{{ 'Remove' |
                                                            translate }}
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="$ctrl.exportGame(game.id)">{{ 'Export' | translate }}
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </md-list-item>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>

            <md-button class="md-raised"
                       aria-label="{{ 'Create an adventure' | translate }}"
                       title="{{ 'Create an adventure' | translate }}"
                       ng-click="$ctrl.createAdventure()">{{ 'Create an adventure' | translate }}
            </md-button>
            <md-menu>
                <md-button ng-click="$mdMenu.open($event)"
                           class="md-raised"
                           aria-label="{{ 'Import' | translate}}"
                           title="{{ 'Import' | translate}}">
                    {{ 'Import' | translate }}
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.displayImportAdventurePopup()">{{ 'Adventure' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.displayImportGamePopup()">{{ 'Game' | translate }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div flex="20" hide-sm hide-xs>
        </div>
    </div>
</main>

<a id="linkDownloadExportAdventure" ng-show="false" ng-href="{{$ctrl.exportDownloadBlobUrl}}"
   download="exportAdventure.txt">download adventure (link hidden)</a>
<a id="linkDownloadExportGame" ng-show="false" ng-href="{{$ctrl.exportDownloadBlobUrl}}" download="exportGame.txt">download
    game (link hidden)</a>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="importGameDialog">
        <md-dialog layout-padding>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>{{ 'Import a game' | translate}}</h2>
                    <input id="importGameUpload" type="file" ng-model="$ctrl.uploadGameFile" on-read-file="$ctrl.notifyGameFileContent($fileContent)" />
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="$ctrl.$mdDialog.cancel()">
                    {{ 'Cancel' | translate }}
                </md-button>
                <md-button ng-click="$ctrl.$mdDialog.hide()">
                    {{ 'Ok' | translate }}
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="importAdventureDialog">
        <md-dialog layout-padding>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>{{ 'Import an adventure' | translate}}</h2>
                    <input id="importAdventureUpload" type="file" ng-model="$ctrl.uploadAdventureFile" on-read-file="$ctrl.notifyAdventureFileContent($fileContent)" />
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="$ctrl.$mdDialog.cancel()">
                    {{ 'Cancel' | translate }}
                </md-button>
                <md-button ng-click="$ctrl.$mdDialog.hide()">
                    {{ 'Ok' | translate }}
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>