<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Games' | translate }}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <col style="width:95%">
                    <col style="width:5%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'Selection' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.rows">
                        <td>{{ 'GameOverview' | translate: { serie: row.serie + (!!row.serie ? ': ': ''), adventureName: row.adventureName, playerName: row.playerName, currentParagraphNr: row.currentParagraphNr + (!!row.paragraphTag ? '(' + row.paragraphTag + ')' : '')} }}</td>
                        <td>
                            <button type="button" class="btn" ng-class="{ 'btn-success' : row.selected, 'btn-default' : !row.selected}"
                                    aria-label="{{ !row.selected ?
                                        ('ChoiceGame' | translate: {adventureName: row.adventureName, playerName: row.playerName}) :
                                        ('ChoosenGame' | translate: {adventureName: row.adventurekName, playerName: row.playerName}) }}"
                                    title="{{ !row.selected ?
                                        ('ChoiceGame' | translate: {adventureName: row.adventureName, playerName: row.playerName}) :
                                        ('ChoosenGame' | translate: {adventureName: row.adventureName, playerName: row.playerName}) }}"
                                    ng-click="$ctrl.select(row)">
                                <span ng-class="{ 'glyphicon glyphicon-ok' : row.selected, 'glyphicon glyphicon-hand-left' : !row.selected}" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-default"
                ng-click="$ctrl.startNewGame()"
                aria-label="{{ 'Start a new game' | translate }}"
                title="{{ 'Start a new game' | translate }}">{{ 'New game' | translate }}
        </button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Import an adventure' | translate }}"
                title="{{ 'Import a game' | translate }}"
                ng-click="$ctrl.displayImportGamePopup()">{{ 'Import' | translate }}</button>
        <button type="button" class="btn btn-default"
                ng-disabled="!$ctrl.hasSelectedRow()"
                ng-click="$ctrl.continueGame()"
                aria-label="{{ 'Continue the selected game' | translate }}"
                title="{{ 'Continue the selected game' | translate }}">{{ 'Continue' | translate }}
        </button>
        <button type="button" class="btn btn-danger"
                ng-disabled="!$ctrl.hasSelectedRow()"
                ng-click="$ctrl.displayRemoveGamePopup()"
                aria-label="{{ 'Remove the selected game' | translate }}"
                title="{{ 'Remove the selected game' | translate }}">{{ 'Remove' | translate }}
        </button>
        <export-button data="$ctrl.exportData"
                           title="{{ 'Export selected game' | translate }}"
                           disabled="!$ctrl.hasSelectedRow()">
        </export-button>
    </div>
</main>

<popup config="{{ $ctrl.popupDeleteGameConfig }}"></popup>
<import-data-popup config="$ctrl.popupImportGameConfig"></import-data-popup>
