<div id="nojs-id" class="container bigtop-margin">
    <div class="pure-g">
        <div class="pure-u-1">
            <h1 id="nojs-title-id">Gamebooks Assistant</h1>
            <h2 id="nojs-subtitle-fr-id">Veuilliez autoriser JavaScript (requis par l'application).</h2>
            <h2 id="nojs-subtitle-en-id">Please enable JavaScript (required by the application).</h2>
        </div>
    </div>
</div>