/*!
* Skeleton (modified version 2.0.4 for the needs of Gamebooks Assistant)
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 100%;
  }

/* For devices larger than 400px */
@media (min-width: 25em) {
  .container {
    padding: 0;
    width: 85%;
    }
}

/* For devices larger than 550px */
@media (min-width: 34.375em) {
  .container {
    width: 80%; }
}