/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea {
  margin-bottom: 1.5rem; }
pre,
table,
p,
form {
  margin-bottom: 2.5rem; }
