<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <h2>{{ $ctrl.adventure.name }}</h2>
        <div class="col-md-12">
            <form name="adventureTableForm" novalidate="novalidate" ng-submit="$ctrl.save()">
                <h2>{{ 'Lists' | translate }}</h2>
                <list entries="$ctrl.adventure.lists" on-save="$ctrl.onListSave(entries)"></list>

                <h2>{{ 'General' | translate }}</h2>
                <div>
                    <div class="form-group" ng-if="!$ctrl.adventure.id">
                        <label for="name">{{ "Name" | translate }}</label>
                        <input type="text" class="form-control" id="name" ng-model="$ctrl.adventure.name" required>
                    </div>
                    <div class="form-group">
                        <label for="serie">{{ "Serie" | translate }}</label>
                        <input type="text" class="form-control" id="serie" ng-model="$ctrl.adventure.serie">
                    </div>
                    <div class="form-group">
                        <label for="authors">{{ "Author(s)" | translate }}</label>
                        <input type="text" class="form-control" id="authors" ng-model="$ctrl.adventure.authors" required>
                    </div>
                    <div class="form-group">
                        <label for="description">{{ "Description" | translate }}</label>
                        <textarea id="description" class="form-control" ng-model="$ctrl.adventure.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="version">{{ "Version" | translate }}</label>
                        <input type="text" class="form-control" id="version" ng-model="$ctrl.adventure.version" required>
                    </div>
                    <div class="form-group">
                        <label for="language">{{ "Language" | translate }}</label>
                        <input type="text" class="form-control" id="language" ng-model="$ctrl.adventure.language" required>
                    </div>
                    <div class="form-group">
                        <label for="homepage">{{ "Homepage" | translate }}</label>
                        <input type="text" class="form-control" id="homepage" ng-model="$ctrl.adventure.homepage">
                    </div>
                    <div class="form-group">
                        <label for="isbn">{{ "ISBN" | translate }}</label>
                        <input type="text" class="form-control" id="isbn" ng-model="$ctrl.adventure.isbn">
                    </div>
                    <div class="form-group">
                        <label for="startParagraphId">{{ "First paragraph" | translate }}</label>
                        <input type="text" class="form-control" id="startParagraphId" ng-model="$ctrl.adventure.startParagraphId" required>
                    </div>
                    <div class="form-group">
                        <label for="gameRulesParagraphId">{{ "Game's rules paragraph" | translate }}</label>
                        <input type="text" class="form-control" id="gameRulesParagraphId" ng-model="$ctrl.adventure.gameRulesParagraphId">
                    </div>
                </div>

                <h2>{{ 'Features' | translate }}</h2>

                <div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" checked="true" ng-model="$ctrl.adventure.toggles.stats">
                            {{ 'Enable stats' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="" ng-model="$ctrl.adventure.toggles.notes">
                            {{ 'Enable notes' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="" ng-model="$ctrl.adventure.toggles.characters">
                            {{ 'Enable characters' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="" ng-model="$ctrl.adventure.toggles.items">
                            {{ 'Enable items' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="" ng-model="$ctrl.adventure.toggles.dices">
                            {{ 'Enable dices' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="" ng-model="$ctrl.adventure.toggles.goto">
                            {{ 'Enable Go to paragraph' | translate }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="" ng-model="$ctrl.adventure.toggles.map">
                            {{ 'Enable map' | translate }}
                        </label>
                    </div>
                </div>

                <div ng-if="$ctrl.adventure.toggles.dices || $ctrl.adventure.toggles.stats">
                    <h2>{{ 'Dices' | translate }}</h2>
                    <div>
                        <div class="form-group">
                            <label for="diceMin">{{ "Minimal dice's value" | translate }}</label>
                            <input type="number" class="form-control" id="diceMin" ng-model="$ctrl.adventure.dice.min"
                                   ng-required="$ctrl.adventure.toggles.dices || $ctrl.adventure.toggles.stats">
                        </div>
                        <div class="form-group">
                            <label for="diceMax">{{ "Maximal dice's value" | translate }}</label>
                            <input type="number" class="form-control" id="diceMax" ng-model="$ctrl.adventure.dice.max"
                                   ng-required="$ctrl.adventure.toggles.dices || $ctrl.adventure.toggles.stats">
                        </div>
                    </div>
                </div>

                <div ng-if="$ctrl.adventure.toggles.characters">
                    <h2>{{ 'Characters' | translate }}</h2>
                    <div>
                        <div class="form-group">
                            <label for="defaultCharacterName">{{ "Default character's name" | translate }}</label>
                            <input type="text" class="form-control" id="defaultCharacterName"
                                   ng-model="$ctrl.adventure.defaultCharacterName"
                                   ng-required="$ctrl.adventure.toggles.characters">
                        </div>
                    </div>
                </div>

                <div ng-if="$ctrl.adventure.toggles.stats">
                    <h2>{{ 'Stats rules' | translate }}</h2>
                    <div>
                        <table class="table table-striped">
                            <col ng-if="!$ctrl.adventure.toggles.characters" style="width:30%">
                            <col ng-if="!$ctrl.adventure.toggles.characters" style="width:55%">
                            <col ng-if="!$ctrl.adventure.toggles.characters" style="width:5%">
                            <col ng-if="!$ctrl.adventure.toggles.characters" style="width:5%">
                            <col ng-if="!$ctrl.adventure.toggles.characters" style="width:5%">

                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:20%">
                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:35%">
                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:10%">
                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:10%">
                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:5%">
                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:5%">
                            <col ng-if="$ctrl.adventure.toggles.characters" style="width:5%">
                            <thead>
                            <tr>
                                <th>
                                    {{ 'Name' | translate }}
                                </th>
                                <th>
                                    {{ 'Player stats value generation' | translate }}
                                </th>
                                <th ng-if="$ctrl.adventure.toggles.characters"
                                    aria-label="{{ 'Is it a character\'s state?' | translate }}"
                                    title="{{ 'Is it a character\'s state?' | translate }}">
                                    {{ 'For characters?' | translate }}
                                </th>
                                <th ng-if="$ctrl.adventure.toggles.characters"
                                    aria-label="{{ 'Default value of the stats for character' | translate }}"
                                    title="{{ 'Default value of the stats for character' | translate }}">
                                    {{ 'Default character value' | translate }}
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    <button type="button" class="btn btn-default"
                                            aria-label="{{ 'Add stats' | translate}}"
                                            title="{{ 'Add stats' | translate}}"
                                            ng-click="$ctrl.addRow()"
                                            ng-show="!$ctrl.hasEditedRow()">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="row in $ctrl.adventure.stats">
                                <td ng-if="!$ctrl.isRowEdited(row)">
                                    {{ row.name }}
                                </td>
                                <td ng-if="$ctrl.isRowEdited(row)">
                                    <input required type="text" class="form-control" ng-model="row.name">
                                    <div class="error" ng-show="!row.name">
                                        {{ 'Please fill the name of the stats' | translate }}
                                    </div>
                                </td>

                                <td ng-if="!$ctrl.isRowEdited(row)">
                                    {{ 'attributValueGenerationRule' | translate: {
                                            dicesQuantity: (!!row.init && !!row.init.dicesQuantity) ? row.init.dicesQuantity: '?',
                                            min: (!!$ctrl.adventure.dice && !!$ctrl.adventure.dice.min) ? $ctrl.adventure.dice.min : '?',
                                            max: (!!$ctrl.adventure.dice && !!$ctrl.adventure.dice.max) ? $ctrl.adventure.dice.max : '?',
                                            constant: (!!row.init && !!row.init.constant) ? row.init.constant : '0' } }}
                                </td>
                                <td ng-if="$ctrl.isRowEdited(row)">
                                    <div class="form-group">
                                        <label for="dicesQuantity">{{ "dicesQuantity" | translate: {
                                            min: (!!$ctrl.adventure.dice && !!$ctrl.adventure.dice.min) ? $ctrl.adventure.dice.min : '?',
                                            max: (!!$ctrl.adventure.dice && !!$ctrl.adventure.dice.max) ? $ctrl.adventure.dice.max : '?' } }}</label>
                                        <input required id="dicesQuantity" type="number" class="form-control" ng-model="row.init.dicesQuantity">
                                    </div>
                                    <div class="form-group">
                                        <label for="constant">{{ "Constant" | translate }}</label>
                                        <input id="constant" type="number" class="form-control" ng-model="row.init.constant">
                                    </div>
                                    <div class="error" ng-show="!row.init.dicesQuantity">
                                        <!-- check error only on field -->
                                        {{ 'Please fill the quantity of dices used to generate a value for this stats' | translate }}
                                    </div>
                                </td>

                                <td ng-if="$ctrl.adventure.toggles.characters && !$ctrl.isRowEdited(row)">
                                    {{ 'yesno_' + !!row.characters | translate }}
                                </td>
                                <td ng-if="$ctrl.adventure.toggles.characters && $ctrl.isRowEdited(row)">
                                    <input type="checkbox" class="form-control" ng-model="row.editableForCharacters" id="displayed"><br>
                                </td>

                                <td ng-if="$ctrl.adventure.toggles.characters && !$ctrl.isRowEdited(row)">
                                    {{ row.characters.defaultValue }}
                                </td>
                                <td ng-if="$ctrl.adventure.toggles.characters && $ctrl.isRowEdited(row)">
                                    <input id="characterDefaultValue" type="number" class="form-control" ng-model="row.characters.defaultValue" ng-required="!!row.editableForCharacters" >
                                    <div class="error" ng-show="!!row.editableForCharacters && !row.characters && !row.characters.defaultValue">
                                        <!-- check error only on field -->
                                        {{ 'Please fill a default value of this stats for characters' | translate }}
                                    </div>
                                    <div class="error" ng-show="!row.editableForCharacters && !!row.characters.defaultValue">
                                        <!-- check error only on field -->
                                        {{ 'Please do not fill a default value as this stats is not available for characters' | translate }}
                                    </div>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-success"
                                            aria-label="{{ 'Save stats changes' | translate}}"
                                            title="{{ 'Save stats changes' | translate}}"
                                            ng-click="$ctrl.saveRowChanges(adventureTableForm.$invalid, row)"
                                            ng-show="$ctrl.isRowEdited(row)">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-danger"
                                            aria-label="{{ 'Abort stats changes' | translate}}"
                                            title="{{ 'Abort stats changes' | translate}}"
                                            ng-click="$ctrl.abortRowChanges()"
                                            ng-show="$ctrl.isRowEdited(row)">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    </button>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-default"
                                            aria-label="{{ 'Edit stats' | translate}}"
                                            title="{{ 'Edit stats' | translate}}"
                                            ng-click="$ctrl.editRow(row)"
                                            ng-show="!$ctrl.hasEditedRow()">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            aria-label="{{ 'Remove stats' | translate }}"
                                            title="{{ 'Remove stats' | translate }}"
                                            ng-click="$ctrl.displayRemovePopup(row)"
                                            ng-disabled="$ctrl.addedRow"
                                            ng-show="$ctrl.isRowEdited(row)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="$ctrl.adventure.toggles.items">
                    <h2>{{ 'Initial items' | translate }}</h2>
                    <div>
                        <items items="$ctrl.adventure.items"></items>
                    </div>
                </div>
            </form>
        </div>
        <back-button></back-button>
        <button type="button" class="btn btn-primary"
                aria-label="{{ 'Save changes' | translate }}"
                title="{{ 'Save changes' | translate }}"
                ng-click="$ctrl.save(adventureTableForm)">{{ 'Save' | translate }}</button>
    </div>
</main>

<popup config="{{ $ctrl.popupDeleteStatsConfig }}"></popup>