<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Battle' | translate }}</h1>
        </div>

        <form name="battleTableForm" novalidate="novalidate">
            <table class="table">
                <col style="width:20%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:5%">
                <col style="width:55%">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'Skill' | translate }}</th>
                    <th>{{ 'Stamina' | translate }}</th>
                    <th>
                        <button type="button" class="btn btn-default"
                                aria-label="{{ 'Add enemy' | translate}}"
                                title="{{ 'Add enemy' | translate}}"
                                ng-click="$ctrl.addRow()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in $ctrl.rows">
                    <td ng-if="!$ctrl.isEnemy(row)">
                        {{ row.name }}
                    </td>
                    <td ng-if="$ctrl.isEnemy(row)">
                        <input required type="text" class="form-control" ng-model="row.name">
                        <div class="error" ng-show="!row.name">
                            {{ 'Please fill the name' | translate }}
                        </div>
                    </td>

                    <td>
                        <input required type="number" class="form-control" ng-model="row.skill">
                        <div class="error" ng-show="!row.skill">
                            {{ 'Please fill the skill' | translate }}
                        </div>
                    </td>

                    <td>
                        <input required type="number" class="form-control" ng-model="row.stamina">
                        <div class="error" ng-show="!row.stamina">
                            {{ 'Please fill the stamina' | translate }}
                        </div>
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger"
                                aria-label="{{ 'Remove enemy' | translate }} {{ row.name | translate }}"
                                title="{{ 'Remove enemy' | translate }} '{{ row.name | translate }}'"
                                ng-click="$ctrl.displayRemovePopup(row)"
                                ng-show="$ctrl.isEnemy(row)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>

                    <td></td>
                </tr>
                </tbody>
            </table>
        </form>

        <dices></dices>
        <back-button></back-button>

        <popup config="{{ $ctrl.popupDeleteEnemyConfig }}"></popup>
</main>