<form>
    <table class="table table-striped">
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:85%">
        <col style="width:5%">
        <thead>
        <tr>
            <th>
                <!-- TODO how to map correctly image with webpack & angularjs? -->
                <!-- image come from http://opengameart.org/content/dice-4 -->
                <img src="http://morarupasukaru.github.io/gamebooks-assistant/dice.png" width="32" height="32"
                     aria-label="{{ 'Roll dices' | translate }}"
                     title="{{ 'Roll dices' | translate }}"/>
            </th>
            <th></th>
            <th>{{ 'Values' | translate }}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button class="btn btn-default"
                        ng-click="$ctrl.roll1d6()"
                        aria-label="{{ 'Roll one dice 6 faces' | translate }}"
                        title="{{ 'Roll one dice 6 faces' | translate }}">
                    {{ 'x1' | translate }}
                </button>
            </td>
            <td>
                <button class="btn btn-default"
                        ng-click="$ctrl.roll2d6()"
                        aria-label="{{ 'Roll two dices 6 faces' | translate }}"
                        title="{{ 'Roll two dices 6 faces' | translate }}">
                    {{ 'x2' | translate }}
                </button>
            </td>
            <td>
                {{ $ctrl.dicesValue }}
            </td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-erase"
                        title="{{ 'Clear values' | translate }}"
                        aria-label="{{ 'Clear values' | translate }}"
                        ng-click="$ctrl.clear()">

                </button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

