<form>
    <table class="table table-striped">
        <col style="width:85%">
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:5%">
        <thead>
        <tr>
            <th>{{ 'Values' | translate }}</th>
            <th>{{ 'Dices' | translate }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ $ctrl.dicesValue }}
            </td>

            <td>
                <button class="btn btn-default" ng-click="$ctrl.roll1d6()" title="{{ 'Roll one dice 6 faces' | translate }}">{{ 'Roll 1D6' | translate }}</button>
            </td>

            <td>
                <button class="btn btn-default" ng-click="$ctrl.roll2d6()" title="{{ 'Roll two dices 6 faces' | translate }}">{{ '2D6' | translate }}</button>
            </td>

            <td>
                <button class="btn btn-default glyphicon glyphicon-erase" title="{{ 'Clear values' | translate }}" ng-click="$ctrl.clear()"></button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

