<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Adventures' | translate }}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <col style="width:95%">
                    <col style="width:5%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'Selection' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.rows">
                        <td>{{ (!!row.serie ? row.serie + ': ': '') +  row.name }} {{ ($ctrl.hasToBeDownloaded(row) ? 'downloadable_in_list' : '') | translate }} </td>
                        <td>
                            <button type="button" class="btn" ng-class="{ 'btn-success' : row.selected, 'btn-default' : !row.selected}"
                                    aria-label="{{ !row.selected ?
                                        ('ChoiceAdventure' | translate: {adventureName: row.name}) :
                                        ('ChoosenAdventure' | translate: {adventureName: row.name}) }}"
                                    title="{{ !row.selected ?
                                        ('ChoiceAdventure' | translate: {adventureName: row.name}) :
                                        ('ChoosenAdventure' | translate: {adventureName: row.name}) }}"
                                    ng-click="$ctrl.select(row)">
                                <span ng-class="{ 'glyphicon glyphicon-ok' : row.selected, 'glyphicon glyphicon-hand-left' : !row.selected}" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-default"
                aria-label="{{ 'Create an adventure' | translate }}"
                title="{{ 'Create an adventure' | translate }}"
                ng-click="$ctrl.create()">{{ 'Create' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Import an adventure' | translate }}"
                title="{{ 'Import an adventure' | translate }}"
                ng-click="$ctrl.displayImportAdventurePopup()">{{ 'Import' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Display selected adventure' | translate }}"
                title="{{ 'Display selected adventure' | translate }}"
                ng-disabled="!$ctrl.isSelectedAdventureAvailable()"
                ng-click="$ctrl.display()">{{ 'Display' | translate }}</button>
        <button type="button" class="btn btn-danger"
                ng-disabled="!$ctrl.hasSelectedRow()"
                aria-label="{{ 'Remove selected adventure' | translate }}"
                title="{{ 'Remove selected adventure' | translate }}"
                ng-click="$ctrl.displayRemoveAdventurePopup()">{{ 'Remove' | translate }}</button>
        <export-button data="$ctrl.exportData"
                           title="{{ 'Export selected adventure' | translate }}"
                           disabled="!$ctrl.isSelectedAdventureAvailable()">
        </export-button>
        <button type="button" class="btn btn-default"
                ng-disabled="!$ctrl.isSelectedRowDownloadable()"
                aria-label="{{ 'Download selected adventure' | translate }}"
                title="{{ 'Download selected adventure' | translate }}"
                ng-click="$ctrl.displayDownloadAdventurePopup()">{{ 'Download' | translate }}</button>
    </div>
</main>

<popup config="{{ $ctrl.popupDeleteAdventureConfig }}"></popup>
<popup config="{{ $ctrl.popupDownloadAdventureConfig }}"></popup>
<import-data-popup config="$ctrl.popupImportAdventureConfig"></import-data-popup>
