.box-with-title {
    padding: 0.2em 0.5em;
    border-radius: 4px;
    border: 1px solid #bbb;
}

.box-with-title:not(.box-collapsed):last-child {
    padding-bottom: 10px;
}

fieldset.box-collapsed>div {
    display: none;
}

legend>a {
    color: inherit;
}

legend>a:hover {
    color: inherit;
}
