/* disable uppercase transformation that come per default with skeleton */
button, .button {
    text-transform: none;
}

button:disabled {
    background: #DFDFDF;
    border: 1px solid #bbb;
    color: #9F9F9F;
    pointer-events: none;
}

.small-button {
    font-size: inherit;
    font-weight: inherit;
    padding: 0 10px;
}

.button-danger {
    background: #ffe6e6;
}


.button-ok {
    background: #f0fff0;
}