.expanded-table {
    margin-bottom: 1rem;
    width:100%;
}

.expanded-table-collapsed {
    margin-bottom: 0.3rem;
}


.expanded-table table, .expanded-table th, .expanded-table td {
    border: 0px;
}

.expanded-table-collapsed td {
    display: none;
}

.expanded-table th {
    background: #e7e7e7;
    cursor: pointer;
    text-transform: uppercase;
}