/*
Sources:
- CSS of http://getskeleton.com/ taken for the CSS base
- Source of the layout of the splash screen copied from https://purecss.io/layouts/marketing/
*/
.splash {
    height: 50%;
    margin: auto;
    padding-top: 0.5em;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.5em 0.5em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    opacity: 0.8;
}

/* Larger than mobile */
@media only screen and (orientation: portrait) and (min-width: 360px) {
    .splash-head {
        padding: 1em 1em;
    }
}

/* Larger than mobile */
@media only screen and (orientation: portrait) and (min-width: 400px) {
  .splash {
       /* absolute center .splash within .splash-container */
       bottom: 0;
       left: 0;
       position: absolute;
       right: 0;
       top: 100px;
  }

  .splash-head {
      padding: 1em 1.6em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .splash {
       /* absolute center .splash within .splash-container */
       bottom: 0;
       left: 0;
       position: absolute;
       right: 0;
       top: 100px;
  }

  .splash-head {
       padding: 1em 1.6em;
  }
}
