<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Libraries' | translate }}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <col style="width:55%">
                    <col style="width:20%">
                    <col style="width:20%">
                    <col style="width:5%">
                    <thead>
                    <tr>
                        <th>{{ 'Site' | translate }}</th>
                        <th>{{ 'Library url' | translate }}</th>
                        <th>{{ 'Download status' | translate }}</th>
                        <th>{{ 'Selection' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.rows">
                        <td ng-if="!!row.siteUrl"><a href="{{ row.siteUrl }}">{{ row.siteName }}</a></td>
                        <td ng-if="!row.siteUrl">{{ row.siteName }}</td>
                        <td><a href="{{ row.libraryUrl }}" target="_blank">{{ 'Detail' | translate }}</a></td>
                        <td>{{ row.lastDownloadStatus }}</td>
                        <td>
                            <button type="button" class="btn" ng-class="{ 'btn-success' : row.selected, 'btn-default' : !row.selected}"
                                    aria-label="{{ !row.selected ?
                                        ('ChoiceLibrary' | translate: {siteName: row.siteName}) :
                                        ('ChoosenLibrary' | translate: {siteName: row.siteName}) }}"
                                    title="{{ !row.selected ?
                                        ('ChoiceLibrary' | translate: {siteName: row.siteName}) :
                                        ('ChoosenLibrary' | translate: {siteName: row.siteName}) }}"
                                    ng-click="$ctrl.select(row)">
                                <span ng-class="{ 'glyphicon glyphicon-ok' : row.selected, 'glyphicon glyphicon-hand-left' : !row.selected}" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <back-button></back-button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Create a library' | translate }}"
                title="{{ 'Create a library' | translate }}"
                ng-click="$ctrl.create()">{{ 'Create' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Import libraries' | translate }}"
                title="{{ 'Import libraries' | translate }}"
                ng-click="$ctrl.displayImportLibrariesPopup()">{{ 'Import' | translate }}</button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Display selected library' | translate }}"
                title="{{ 'Display selected library' | translate }}"
                ng-disabled="!$ctrl.hasSelectedRow()"
                ng-click="$ctrl.display()">{{ 'Display' | translate }}</button>
        <button type="button" class="btn btn-danger"
                ng-disabled="!$ctrl.hasSelectedRow()"
                aria-label="{{ 'Remove selected library' | translate }}"
                title="{{ 'Remove selected library' | translate }}"
                ng-click="$ctrl.displayRemoveLibraryPopup()">{{ 'Remove' | translate }}</button>
        <export-button data="$ctrl.exportData" title="{{ 'Export libraries' | translate }}"></export-button>
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Download libraries' | translate }}"
                title="{{ 'Download libraries' | translate }}"
                ng-disabled="!$ctrl.hasSelectedRow()"
                ng-click="$ctrl.downloadLibrary()">{{ 'Download' | translate }}</button>
    </div>
</main>

<popup config="{{ $ctrl.popupDeleteLibraryConfig }}"></popup>
<import-data-popup config="$ctrl.popupImportLibrariesConfig"></import-data-popup>
