<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Paragraph' | translate }} {{ $ctrl.paragraph.paragraphNumber }}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-borderless">
                    <col style="width:95%">
                    <col style="width:5%">
                    <thead>
                    <tr>
                        <th>{{ 'Description' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <textarea id="inputCurrentDescription" class="form-control" ng-model="$ctrl.paragraph.description"></textarea>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" aria-label="{{ 'Edit description' | translate}}" title="{{ 'Edit description' | translate}}'" ng-click="$ctrl.editDescription()">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <col style="width:10%">
                    <col style="width:80%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <thead>
                    <tr>
                        <th>{{ 'Choice' | translate }}</th>
                        <th>{{ 'Description' | translate }}</th>
                        <th></th>
                        <th>
                            <button type="button" class="btn btn-default" aria-label="{{ 'Add choice' | translate}}" title="{{ 'Add choice' | translate}}" ng-click="$ctrl.addRow()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.paragraph.choices">
                        <td>
                            <button type="button" class="btn btn-default" aria-label="{{ 'Choice paragragh' | translate}} {{ row.paragraphNumber }}" title="{{ 'Choice paragragh' | translate}} '{{ row.paragraphNumber }}'" ng-click="$ctrl.goTo(row)">{{ row.paragraphNumber }}</button>
                        </td>
                        <td>{{ row.description}} </td>
                        <td>
                            <button type="button" class="btn btn-default" aria-label="{{ 'Edit choice' | translate}} {{ row.paragraphNumber }}" title="{{ 'Edit choice' | translate}} '{{ row.paragraphNumber }}'" ng-click="$ctrl.editRow(row)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    aria-label="{{ 'Remove choice' | translate}} {{ row.paragraphNumber }}"
                                    title="{{ 'Remove choice' | translate}} '{{ row.paragraphNumber }}'"
                                    ng-click="$ctrl.displayRemovePopup(row)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <popup config="{{ $ctrl.popupDeleteChoiceConfig }}"></popup>
</main>