<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <h2>{{ 'Library' }}</h2>
        <div class="col-md-12">
            <form name="libraryForm" novalidate="novalidate" ng-submit="$ctrl.save()">
                <div>
                    <div class="form-group">
                        <label for="siteName">{{ "Name" | translate }}</label>
                        <input type="text" class="form-control" id="siteName" ng-model="$ctrl.library.siteName" required>
                    </div>
                    <div class="form-group">
                        <label for="siteUrl">{{ "Homepage" | translate }}</label>
                        <input type="text" class="form-control" id="siteUrl" ng-model="$ctrl.library.siteUrl">
                    </div>
                    <div class="form-group">
                        <label for="libraryUrl">{{ "Library url" | translate }}</label>
                        <input type="text" class="form-control" id="libraryUrl" ng-model="$ctrl.library.libraryUrl" required>
                    </div>
                </div>
            </form>
        </div>
        <back-button></back-button>
        <button type="button" class="btn btn-primary"
                aria-label="{{ 'Save changes' | translate }}"
                title="{{ 'Save changes' | translate }}"
                ng-click="$ctrl.save(libraryForm)">{{ 'Save' | translate }}</button>
    </div>
</main>