<table class="table table-borderless">
    <col style="width:95%">
    <col style="width:5%">
    <thead>
    <tr>
        <th>{{ 'Description' | translate }}</th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <textarea id="inputCurrentDescription" class="form-control" ng-model="$ctrl.paragraph.description" ng-readonly="!$ctrl.isDescriptionEditable()"></textarea>
        </td>
        <td>
            <button type="button" class="btn btn-default"
                    aria-label="{{ 'Edit description' | translate}}"
                    title="{{ 'Edit description' | translate}}"
                    ng-click="$ctrl.editDescription()"
                    ng-show="!$ctrl.isDescriptionEditable()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-success"
                    aria-label="{{ 'Save description changes' | translate}}"
                    title="{{ 'Save description changes' | translate}}"
                    ng-click="$ctrl.saveDescriptionChanges()"
                    ng-show="$ctrl.isDescriptionEditable()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger"
                    aria-label="{{ 'Abort description changes' | translate}}"
                    title="{{ 'Abort description changes' | translate}}"
                    ng-click="$ctrl.abortDescriptionChanges()"
                    ng-show="$ctrl.isDescriptionEditable()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<form name="choicesTableForm" novalidate="novalidate">
    <table class="table table-striped">
        <col style="width:10%">
        <col style="width:75%">
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:5%">
        <thead>
        <tr>
            <th>{{ 'Choice' | translate }}</th>
            <th>{{ 'Description' | translate }}</th>
            <th></th>
            <th></th>
            <th>
                <button type="button" class="btn btn-default"
                        aria-label="{{ 'Add choice' | translate}}"
                        title="{{ 'Add choice' | translate}}"
                        ng-click="$ctrl.addRow()"
                        ng-show="!$ctrl.hasEditedRow()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.paragraph.choices">
                <td ng-if="!$ctrl.isRowEdited(row) && !$ctrl.hasEditedRow()">
                    <button type="button" class="btn btn-default"
                            aria-label="{{ 'Choice paragragh' | translate}} {{ row.paragraphNumber }}"
                            title="{{ 'Choice paragragh' | translate}} '{{ row.paragraphNumber }}'"
                            ng-click="$ctrl.goTo(row)">{{ row.paragraphNumber }}
                    </button>
                </td>
                <td ng-if="!$ctrl.isRowEdited(row) && $ctrl.hasEditedRow()">
                    {{ row.paragraphNumber }}
                </td>
                <td ng-if="$ctrl.isRowEdited(row)">
                    <input id="rowParagraphNumber" type="number" required class="form-control" ng-model="row.paragraphNumber">
                    <div class="error" ng-show="choicesTableForm.$invalid">
                        {{ 'Please fill the paragraph number' | translate }}
                    </div>
                </td>

                <td ng-if="!$ctrl.isRowEdited(row)">
                    {{ row.description | translate }}
                </td>
                <td ng-if="$ctrl.isRowEdited(row)">
                    <input type="text" class="form-control" ng-model="row.description">
                </td>

                <td>
                    <button type="button" class="btn btn-success"
                            aria-label="{{ 'Save choice changes' | translate}}"
                            title="{{ 'Save choice changes' | translate}}"
                            ng-click="$ctrl.saveRowChanges(choicesTableForm.$invalid)"
                            ng-show="$ctrl.isRowEdited(row)">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>

                <td>
                    <button type="button" class="btn btn-danger"
                            aria-label="{{ 'Abort choice changes' | translate}}"
                            title="{{ 'Abort choice changes' | translate}}"
                            ng-click="$ctrl.abortRowChanges()"
                            ng-show="$ctrl.isRowEdited(row)">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default"
                            aria-label="{{ 'Edit choice' | translate}} {{ row.paragraphNumber }}"
                            title="{{ 'Edit choice' | translate}} '{{ row.paragraphNumber }}'"
                            ng-click="$ctrl.editRow(row)"
                            ng-show="!$ctrl.hasEditedRow()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger"
                            aria-label="{{ 'Remove choice' | translate}} {{ row.paragraphNumber }}"
                            title="{{ 'Remove choice' | translate}} '{{ row.paragraphNumber }}'"
                            ng-click="$ctrl.displayRemovePopup(row)"
                            ng-disabled="$ctrl.addedRow"
                            ng-show="$ctrl.isRowEdited(row)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default"
                            aria-label="{{ 'Go to paragraph' | translate}}"
                            title="{{ 'Go to paragraph' | translate}}"
                            ng-click="$ctrl.goToParagraph()"
                            ng-disabled="$ctrl.">
                        {{ 'Go to' | translate}}
                    </button>
                </td>
                <td>
                    <input id="goToParagraphNr" type="number" required class="form-control" ng-model="$ctrl.goToParagraphNr">
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</form>

<popup config="{{ $ctrl.popupDeleteChoiceConfig }}"></popup>