<div class="page-header">
    <h1>
        {{ 'Paragraph' | translate }} {{ $ctrl.paragraph.paragraphNr }}
        {{ !!$ctrl.paragraph.tag ? '(' + $ctrl.paragraph.tag +  ')' : '' }}
        <button type="button" class="btn btn-default"
                aria-label="{{ 'Edit tag' | translate}}"
                title="{{ 'Edit tag' | translate}}"
                ng-click="$ctrl.editTag()"
                ng-show="!$ctrl.isTagEditable()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
    </h1>

    <table class="table table-borderless" ng-if="!!$ctrl.isTagEditable()">
        <col style="width:90%">
        <col style="width:5%">
        <col style="width:5%">
        <thead>
        <tr>
            <th>{{ 'Tag' | translate }}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input id="inputTag" type="text" class="form-control" ng-model="$ctrl.paragraph.tag">
            </td>
            <td>
                <button type="button" class="btn btn-success"
                        aria-label="{{ 'Save tag changes' | translate}}"
                        title="{{ 'Save tag changes' | translate}}"
                        ng-click="$ctrl.saveTagChanges()"
                        ng-show="$ctrl.isTagEditable()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger"
                        aria-label="{{ 'Abort tag changes' | translate}}"
                        title="{{ 'Abort tag changes' | translate}}"
                        ng-click="$ctrl.abortTagChanges()"
                        ng-show="$ctrl.isTagEditable()">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<table class="table table-borderless">
    <col style="width:95%">
    <col style="width:5%">
    <thead>
    <tr>
        <th>{{ 'Description' | translate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <textarea id="inputCurrentDescription" class="form-control" ng-model="$ctrl.paragraph.description" ng-if="!!$ctrl.isDescriptionEditable()"></textarea>
            <div ng-if="!$ctrl.isDescriptionEditable()">{{ $ctrl.paragraph.description }}</div>
        </td>
        <td>
            <button type="button" class="btn btn-default"
                    aria-label="{{ 'Edit description' | translate}}"
                    title="{{ 'Edit description' | translate}}"
                    ng-click="$ctrl.editDescription()"
                    ng-show="!$ctrl.isDescriptionEditable()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-success"
                    aria-label="{{ 'Save description changes' | translate}}"
                    title="{{ 'Save description changes' | translate}}"
                    ng-click="$ctrl.saveDescriptionChanges()"
                    ng-show="$ctrl.isDescriptionEditable()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger"
                    aria-label="{{ 'Abort description changes' | translate}}"
                    title="{{ 'Abort description changes' | translate}}"
                    ng-click="$ctrl.abortDescriptionChanges()"
                    ng-show="$ctrl.isDescriptionEditable()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<form name="choicesTableForm" novalidate="novalidate" ng-if="$ctrl.choicesTableAvailable">
    <table class="table table-striped">
        <col style="width:10%">
        <col style="width:75%">
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:5%">
        <thead>
        <tr>
            <th>{{ 'Choice' | translate }}</th>
            <th>{{ 'Description' | translate }}</th>
            <th></th>
            <th></th>
            <th>
                <button type="button" class="btn btn-default"
                        aria-label="{{ 'Add choice' | translate}}"
                        title="{{ 'Add choice' | translate}}"
                        ng-click="$ctrl.addRow()"
                        ng-show="!$ctrl.hasEditedRow()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.paragraph.choices">
                <td ng-if="!$ctrl.isRowEdited(row) && !$ctrl.hasEditedRow()">
                    <button type="button" class="btn btn-default"
                            aria-label="{{ 'ChooseParagraph' | translate: {paragraph: row.paragraphNr} }}"
                            title="{{ 'ChooseParagraph' | translate: {paragraph: row.paragraphNr} }}"
                            ng-click="$ctrl.goTo(row.paragraphNr)">
                        <div ng-if="!!$ctrl.isAlreadyChoosen(row)">{{ row.paragraphNr }}</div>
                        <div ng-if="!$ctrl.isAlreadyChoosen(row)"><strong>{{ row.paragraphNr }}</strong></div>
                    </button>
                </td>
                <td ng-if="!$ctrl.isRowEdited(row) && $ctrl.hasEditedRow()">
                    {{ row.paragraphNr }}
                </td>
                <td ng-if="$ctrl.isRowEdited(row)">
                    <input id="rowParagraphNr" type="number" required class="form-control" ng-model="row.paragraphNr">
                    <div class="error" ng-show="choicesTableForm.$invalid">
                        {{ 'Please fill the paragraph number' | translate }}
                    </div>
                </td>

                <td ng-if="!$ctrl.isRowEdited(row)">
                    {{ row.description }}
                </td>
                <td ng-if="$ctrl.isRowEdited(row)">
                    <input type="text" class="form-control" ng-model="row.description">
                </td>

                <td>
                    <button type="button" class="btn btn-success"
                            aria-label="{{ 'Save choice changes' | translate}}"
                            title="{{ 'Save choice changes' | translate}}"
                            ng-click="$ctrl.saveRowChanges(choicesTableForm.$invalid)"
                            ng-show="$ctrl.isRowEdited(row)">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>

                <td>
                    <button type="button" class="btn btn-danger"
                            aria-label="{{ 'Abort choice changes' | translate}}"
                            title="{{ 'Abort choice changes' | translate}}"
                            ng-click="$ctrl.abortRowChanges()"
                            ng-show="$ctrl.isRowEdited(row)">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-default"
                            aria-label="{{ 'EditParagraphChoice' | translate: {paragraph: row.paragraphNr} }}"
                            title="{{ 'EditParagraphChoice' | translate: {paragraph: row.paragraphNr} }}"
                            ng-click="$ctrl.editRow(row)"
                            ng-show="!$ctrl.hasEditedRow()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger"
                            aria-label="{{ 'RemoveParagraphChoice' | translate: {paragraph: row.paragraphNr} }}"
                            title="{{ 'RemoveParagraphChoice' | translate: {paragraph: row.paragraphNr} }}"
                            ng-click="$ctrl.displayRemovePopup(row)"
                            ng-disabled="$ctrl.addedRow"
                            ng-show="$ctrl.isRowEdited(row)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default"
                            aria-label="{{ 'Go to paragraph' | translate}}"
                            title="{{ 'Go to paragraph' | translate}}"
                            ng-click="$ctrl.goTo($ctrl.paragraphNrChoice)"
                            ng-disabled="!$ctrl.paragraphNrChoice">
                        {{ 'Go to' | translate}}
                    </button>
                </td>
                <td>
                    <input id="goToParagraphNr" type="number" class="form-control" ng-model="$ctrl.paragraphNrChoice">
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</form>

<popup config="{{ $ctrl.popupDeleteChoiceConfig }}"></popup>