<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <paragraph paragraph="$ctrl.paragraph" game-id="{{$ctrl.game.id}}">
        </paragraph>

        <collapse ng-if="$ctrl.isMapAvailable()" title="{{ 'Map' | translate }}" flag="$ctrl.mapCollapsed">
            <nodes adventure-id="$ctrl.adventureId" root-paragraph-nr="$ctrl.paragraph.paragraphNr"></nodes>
        </collapse>

        <collapse ng-if="$ctrl.isStatsAvailable()" title="{{ 'Player' | translate }} {{ $ctrl.playerName }}" flag="$ctrl.statsCollapsed">
            <stats game-id="{{$ctrl.game.id}}" stats="$ctrl.stats"></stats>
        </collapse>

        <collapse ng-if="$ctrl.isCharactersAvailable()" title="{{ 'Characters' | translate }}" flag="$ctrl.charactersCollapsed">
            <characters game-id="$ctrl.game.id"></characters>
        </collapse>

        <collapse ng-if="$ctrl.isDicesAvailable()" title="{{ 'Dices' | translate }}" flag="$ctrl.dicesCollapsed">
            <dices ng-if="$ctrl.isDicesAvailable() && !$ctrl.dicesCollapsed()" game-id="{{$ctrl.game.id}}"></dices>
        </collapse>

        <div ng-repeat="list in $ctrl.adventure.lists.keys">
            <collapse title="{{ list }}" flag="$ctrl[list+'Collapsed']">
                <list entries="$ctrl.game.lists[list]" on-save="$ctrl.onSubListSave(list, entries)"></list>
            </collapse>
        </div>

        <back-button></back-button>

        <button type="button"
                class="btn btn-default"
                ng-if="$ctrl.isGameRulesAvailable()"
                ng-click="$ctrl.goToGameRulesParagraph()">
            {{ "Game's rules" | translate }}
        </button>
    </div>
</main>