<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>
                {{ 'Paragraph' | translate }} {{ $ctrl.paragraph.paragraphNr }}
                {{ !!$ctrl.paragraph.tag ? '(' + $ctrl.paragraph.tag +  ')' : '' }}
                <button type="button" class="btn btn-default"
                        aria-label="{{ 'Edit tag' | translate}}"
                        title="{{ 'Edit tag' | translate}}"
                        ng-click="$ctrl.editTag()"
                        ng-show="!$ctrl.isTagEditable()">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </h1>
        </div>

        <div ng-if="!!$ctrl.isTagEditable()">
            <h2>{{ 'Visible sections' | translate }}</h2>
            <selectable-list entries="$ctrl.visibleSections" on-save="$ctrl.onSectionsSave(entries)"></selectable-list>

            <h2>{{ 'Tag' | translate }}</h2>
            <input id="inputTag" type="text" class="form-control" ng-model="$ctrl.paragraph.tag">
            <br>

            <button type="button" class="btn btn-default"
                    aria-label="{{ 'Back' | translate}}"
                    title="{{ 'Back' | translate}}"
                    ng-click="$ctrl.abortTagChanges()">
                {{ 'Back' | translate }}
            </button>
            <button type="button" class="btn btn-primary"
                    aria-label="{{ 'Save changes' | translate }}"
                    title="{{ 'Save changes' | translate }}"
                    ng-click="$ctrl.saveTagChanges()">{{ 'Save' | translate }}</button>
        </div>

        <div ng-if="!$ctrl.isTagEditable()">
            <description game-id="$ctrl.game.id" paragraph="$ctrl.paragraph">
            </description>

            <goto game-id="$ctrl.game.id" paragraph="$ctrl.paragraph">
            </goto>

            <collapse ng-if="$ctrl.isMapAvailable()" title="{{ 'Map' | translate }}" flag="game.map">
                <nodes game-id="$ctrl.game.id" adventure-id="$ctrl.adventureId" root-paragraph-nr="$ctrl.paragraph.paragraphNr"></nodes>
            </collapse>

            <collapse ng-if="$ctrl.isCharactersAvailable()" title="{{ 'Characters' | translate }}" flag="game.characters">
                <characters-deprecated game-id="$ctrl.game.id"></characters-deprecated>
                <characters game-id="$ctrl.game.id"></characters>
            </collapse>

            <collapse ng-if="$ctrl.isDicesAvailable()" title="{{ 'Dices' | translate }}" flag="game.dices">
                <dices ng-if="$ctrl.isDicesAvailable() && !$ctrl.dicesCollapsed()" game-id="{{$ctrl.game.id}}"></dices>
            </collapse>

            <div ng-repeat="list in $ctrl.adventure.lists.keys">
                <collapse ng-if="$ctrl.isEntriesAvailable(list)" title="{{ list }}" flag="game.{{list}}">
                    <list entries="$ctrl.game.lists[list]" on-save="$ctrl.onSubListSave(list, entries)"></list>
                </collapse>
            </div>

            <back-button></back-button>

            <button type="button"
                    class="btn btn-default"
                    ng-if="$ctrl.isGameRulesAvailable()"
                    ng-click="$ctrl.goToGameRulesParagraph()">
                {{ "Game's rules" | translate }}
            </button>
        </div>
    </div>
</main>
<footnote></footnote>
