<navbar></navbar>
<messages></messages>
<main>

    <div class="container bg-white" role="main">

        <div class="page-header">
            <h1>Stats</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <col style="width:40%">
                    <col style="width:30%">
                    <col style="width:30%">
                    <thead>
                    <tr>
                        <th>Stat</th>
                        <th>Current</th>
                        <th>Initial</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Skill</td>
                        <td><input type="number" class="form-control" id="inputCurrentSkill" value="11"></td>
                        <td><input type="number" class="form-control" id="inputInitialSkill" value="12"></td>
                    </tr>
                    <tr>
                        <td>Stamina</td>
                        <td><input type="number" class="form-control" id="inputStamina" value="12"></td>
                        <td><input type="number" class="form-control" id="inputInitialStamina" value="21"></td>
                    </tr>
                    <tr>
                        <td>Luck</td>
                        <td><input type="number" class="form-control" id="inputLuck" value="5"></td>
                        <td><input type="number" class="form-control" id="inputInitialLuck" value="9"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</main>