<navbar></navbar>
<messages></messages>
<main>

    <div class="container bg-white" role="main">

        <div class="page-header">
            <h1>Stats</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <col style="width:40%">
                    <col style="width:30%">
                    <col style="width:30%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Current</th>
                        <th>Initial</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in ctrl.stats">
                        <td>{{ row.name }}</td>
                        <td><input type="number" class="form-control" ng-model="row.current"></td>
                        <td><input type="number" class="form-control" ng-model="row.initial"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</main>