<navbar></navbar>
<messages></messages>
<main>

    <div class="container bg-white" role="main">

        <div class="page-header">
            <h1>Stats</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <col style="width:40%">
                    <col style="width:30%">
                    <col style="width:30%">
                    <thead>
                    <tr>
                        <th>Stat</th>
                        <th>Current</th>
                        <th>Initial</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Skill</td>
                        <td><input type="number" class="form-control" id="inputSkill0" value="11"></td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Stamina</td>
                        <td><input type="number" class="form-control" id="inputStamina0" value="12"></td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Luck</td>
                        <td><input type="number" class="form-control" id="inputLuck0" value="5"></td>
                        <td>9</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page-header">
            <h1>Forms</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Inline form</h2>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputSkill" class="col-sm-2 control-label">Skill</label>

                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="inputSkill" value="11">
                        </div>

                        <label for="inputSkill" class="initialStat" id="initSkill" class="col-sm-8 control-label">of 12 initial points</label>
                    </div>

                    <div class="form-group">
                        <label for="inputStamina" class="col-sm-2 control-label">Skill</label>

                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="inputStamina" value="18">
                        </div>

                        <label for="inputStamina" class="initialStat" id="initStamina" class="col-sm-8 control-label">of 21 initial points</label>
                    </div>

                    <div class="form-group">
                        <label for="inputLuck" class="col-sm-2 control-label">Luck</label>

                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="inputLuck" value="6">
                        </div>

                        <label for="inputLuck" class="initialStat" id="initLuck" class="col-sm-8 control-label">of 9 initial points</label>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <h2>Inline form</h2>

                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="inputSkill2" value="11">
                        </div>

                        <label for="inputSkill" class="initialStat" id="initSkill2" class="col-sm-11 control-label">of 12 skill points</label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="inputStamina2" value="18">
                        </div>

                        <label for="inputSkill" class="initialStat" id="initStamina2" class="col-sm-11 control-label">of 21 stamina points</label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="inputLuck2" value="6">
                        </div>

                        <label for="inputSkill" class="initialStat" id="inputLuck2" class="col-sm-11 control-label">of 9 luck points</label>
                    </div>
                </form>
            </div>
        </div>
</main>