<div class="col-md-12">
    <form>
        <div>
            <div class="form-group">
                <label for="localStorageData">{{ 'Localstorage' | translate }}</label>
                <input type="text" readonly class="form-control" id="localStorageData" ng-model="$ctrl.localStorageData">
            </div>
            <div class="form-group">
                <button class="btn btn-danger" ng-click="$ctrl.showPopupConfirmEmptyLocalStorage()" title="{{ 'Clean data in LocalStorage' | translate }}">{{ 'Empty LocalStorage' | translate }}</button>
            </div>
        </div>
    </form>

    <popup config="{{ $ctrl.popupConfirmEmptyLocalStorageConfig }}"></popup>
</div>
