<div class="col-md-12">
    <form>
        <div>
            <div class="form-group">
                <label for="applicationData">{{ "Application's data" | translate }}</label>
                <input type="text" class="form-control" id="applicationData" ng-model="$ctrl.applicationData">
            </div>
            <div class="form-group">
                <button class="btn btn-danger" ng-click="$ctrl.showPopupConfirmDeleteApplicationData()" aria-label="{{ 'Delete application\'s data' | translate }}">{{ "Delete application's data" | translate }}</button>
            </div>
            <div class="form-group">
                <label for="importData">{{ "Paste the application's data copied from another browser" | translate }}</label>
                <input type="text" class="form-control" ng-model="$ctrl.importData" id="importData" placeholder="{{ 'Imported data' | translate }}">
            </div>
            <div class="form-group">
                <button class="btn btn-danger" ng-click="$ctrl.showPopupConfirmImportData()" aria-label="{{ 'Import' | translate }}">{{ 'Import' | translate }}</button>
            </div>
        </div>
    </form>

    <popup config="{{ $ctrl.popupConfirmDeleteApplicationDataConfig }}"></popup>

    <popup config="{{ $ctrl.popupConfirmImportApplicationDataConfig }}"></popup>
</div>
