<form name="importDataForm" novalidate="novalidate">
    <div id="{{$ctrl.config.id}}" class="modal">
        <div class="modal-content">
            <div class="form-group">
                <input id="importUpload" type="file" ng-model="$ctrl.uploadFile" on-read-file="$ctrl.showContent($fileContent)" />
            </div>

            <span ng-repeat="choice in $ctrl.choices">
                <button type="button" class="btn btn-default" ng-click="$ctrl.select(choice, importDataForm)">{{ choice | translate }}</button>&nbsp;
            </span>
        </div>
    </div>
</form>