<br>
<footer role="contentinfo">
    <div class="container">
        <p class="text-muted">
            <a ui-sref="gamesList">
                {{ 'Home' | translate}}
            </a>
            -
            <a ui-sref="credits">
                {{ 'Credits' | translate}}
            </a>
            -
            <a href="https://opensource.org/licenses/MIT">
                {{ 'MIT License' | translate}}
            </a>
            -
            <a ng-repeat="language in $ctrl.supportedLanguages"
               href ng-click="$ctrl.changeLanguage(language.code)"
               aria-label="{{ 'Change language to ' + language.code | translate}}"
               title="{{ 'Change language to ' + language.code | translate}}">
                {{ language.code }}
            </a>
        </p>
    </div>
</footer>
