<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">

        <div class="page-header">
            <h1>Export</h1>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Copy following text to import it later</h3>
                    </div>
                    <div class="panel-body">
                        {{ ctrl.data }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>