 /* CSS - The Modal (background) */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 9999; /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    box-sizing: border-box;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 95%;
}

.modal-title {
    background-color: #ffe6e6;
    padding: 2px 16px;
}

/* For devices larger than 400px */
@media (min-width: 25em) {
    .modal-content {
        width: 70%;
    }
}

/* For devices larger than 550px */
@media (min-width: 34.375em) {
    .modal-content {
        width: 50%;
    }
}

@media only screen and (orientation: landscape) and (min-width: 48em) {
    .modal-content {
        width: 40%;
    }
}
@media (min-width: 64em) {
    .modal-content {
        width: 30%;
    }
}