<navbar></navbar>
<messages></messages>
<main ng-if="$ctrl.hasSoftwareRequirements">
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>Stats</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <col style="width:10%">
                    <col style="width:20%">
                    <col style="width:10%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:70%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Current</th>
                        <th>Initial</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.stats">
                        <td>{{ row.name }}</td>
                        <td>{{ row.current }}</td>
                        <td>{{ row.initial }}</td>
                        <td>
                            <button type="button" class="btn btn-default" aria-label="Remove" ng-click="$ctrl.increment(row)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" aria-label="Remove" ng-click="$ctrl.decrement(row)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</main>