<navbar></navbar>
<messages></messages>
<main ng-if="$ctrl.hasSoftwareRequirements">
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Gameplays' | translate }}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <col style="width:60%">
                    <col style="width:30%">
                    <col style="width:10%">
                    <thead>
                    <tr>
                        <th>{{ 'Book' | translate }}</th>
                        <th>{{ 'Player' | translate }}</th>
                        <th>{{ 'Played' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $ctrl.rows">
                        <td>{{ row.bookName }}</td>
                        <td>{{ row.playerName }}</td>
                        <td>
                            <button type="button" class="btn" ng-class="{ 'btn-success' : row.selected, 'btn-default' : !row.selected}"
                                    aria-label="{{ !row.selected ? 'Play' : '' | translate }} '{{ row.bookName | translate }}' {{ row.selected ? 'is currently played' : '' | translate }}"
                                    title="{{ !row.selected ? 'Play' : '' | translate }} '{{ row.bookName | translate }}'  {{ row.selected ? 'is currently played' : '' | translate }}"
                                    ng-click="$ctrl.select(row)">
                                <span ng-class="{ 'glyphicon glyphicon-ok' : row.selected, 'glyphicon glyphicon-hand-left' : !row.selected}" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.startNewGame()">{{ 'Start new game' | translate }}</button>
    </div>

</main>