<div layout="row">
    <div flex="20" hide-sm hide-xs>
    </div>
    <div flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-truncate>{{ $controller.title }}</md-truncate>
                <span flex></span>
                <md-menu ng-if="!adventure.missingAdventure">
                    <md-button ng-click="$mdMenu.open($event)"
                               class="md-icon-button"
                               aria-label="{{ 'Display actions' | translate}}"
                               title="{{ 'Display actions' | translate}}">
                        <md-icon ng-bind="'menu'"></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.displayHome()">
                                {{ 'Home' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-repeat="language in $controller.supportedLanguages">
                            <md-button ng-click="$controller.changeLanguage(language.code)"
                                       aria-label="{{ 'Change language to ' + language.code | translate}}"
                                       title="{{ 'Change language to ' + language.code | translate}}">
                                {{ language.code }}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="$controller.displayCredits()">
                                {{ 'Credits' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$controller.displayLicenses()">
                                {{ 'MIT License' | translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </div>
    <div flex="20" hide-sm hide-xs>
    </div>
</div>