<toolbar title="Gamebook Assistant - {{ 'Credits' | translate }}"></toolbar>
<messages></messages>
<main>
    <div layout="row" role="main">
        <div flex="20" hide-sm hide-xs>
        </div>
        <div flex>
            <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky">{{ 'sorted alphabetically' | translate }}</md-subheader>
                <md-list-item ng-repeat="credit in $ctrl.credits">
                    <div class="md-list-item-text">
                        <a href="{{ credit.url }}" target="_blank">{{ credit.resourceName }}</a>
                        <ng-if ng-if="!!credit.author">{{ 'by' | translate }} {{ credit.author }}</ng-if>
                        <ng-if ng-if="!!credit.description">({{ credit.description | translate }})</ng-if>
                    </div>
                </md-list-item>
            </md-list>
            <back-button></back-button>
        </div>
        <div flex="20" hide-sm hide-xs>
        </div>
    </div>
</main>