.expanded-table {
    width:100%;
    margin-bottom: 0rem;
}

.expanded-table.collapse {
    margin-bottom: 0.3rem;
}


.expanded-table table, .expanded-table th, .expanded-table td {
    border: 0px;
}

.expanded-table.collapse td {
    display: none;
}


.expanded-table th {
    text-transform: uppercase;
    background: #bbb;
    color: white;
    cursor: pointer;
}

.expanded-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}