.small-icon-button {
    text-decoration: none;
    color:inherit;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 2px 2px 2px 2px;
}

.small-icon-button:hover,
.small-text-button:hover,
.small-icon-button:focus,
.small-text-button:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}