<div id="{{$ctrl.cfg.id}}" class="modal">
    <div class="modal-content">
        <span class="close glyphicon glyphicon-remove-circle" ng-click="$ctrl.close()" ng-show="$ctrl.cfg.withCloseButton"></span>
        <p>{{ 'Are you sure to abandon this game?' | translate }}</p>

        <div class="form-group">
            <label for="endGameReason">{{ "End game's reason" | translate }}</label>
            <input type="text" class="form-control" id="endGameReason" ng-model="$ctrl.endGameReason">
        </div>

        <span ng-repeat="choice in $ctrl.cfg.choices">
            <button type="button" class="btn btn-default" ng-click="$ctrl.select(choice)">{{ choice | translate }}</button>&nbsp;
        </span>
    </div>
</div>
