<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <col style="width:{{ !$ctrl.readonly ? '85%' : '80%' }}">
            <col style="width:5%">
            <col style="width:10%">
            <col style="width:5%" ng-if="!$ctrl.readonly">
            <thead>
            <tr>
                <th>{{ 'Note' | translate }}</th>
                <th>{{ 'Paragraph' | translate }}</th>
                <th>{{ 'Player' | translate }}</th>
                <th ng-if="!$ctrl.readonly"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.rows">
                <td ng-if="$ctrl.readonly">
                    {{ row.note | translate }}
                </td>
                <td ng-if="!$ctrl.readonly">
                    <input type="text" class="form-control" ng-model="row.note">
                </td>

                <td ng-if="$ctrl.readonly">
                    {{ row.paragraphNumber }}
                </td>
                <td ng-if="!$ctrl.readonly">
                    <input type="number" class="form-control" ng-model="row.paragraphNumber">
                </td>

                <td ng-if="$ctrl.readonly">
                    {{ row.playerName }}
                </td>
                <td ng-if="!$ctrl.readonly">
                    <input type="text" class="form-control" ng-model="row.playerName">
                </td>

                <td ng-if="!$ctrl.readonly">
                    <button type="button" class="btn btn-danger" aria-label="{{ 'Remove note' | translate }} {{ row.note | translate }}" title="{{ 'Remove note' | translate }} '{{ row.note | translate }}'"
                            ng-click="$ctrl.removeRow(row)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-default" ng-click="$ctrl.addRow()" aria-label="{{ 'Add note' | translate }}" ng-if="!$ctrl.readonly">{{ 'Add note' | translate }}</button>
    </div>
</div>
