<ul>
    <li ng-repeat="entry in $ctrl.innerEntries">
        <span ng-show="!entry.edited">{{ entry.value }}</span>
        <input type="text" ng-model="entry.value" ng-show="!!entry.edited"/>
        <button type="button"
                class="btn btn-xs btn-default"
                ng-click="$ctrl.editEntry(entry)"
                ng-show="!entry.edited">
            {{ 'Edit' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-success"
                ng-click="$ctrl.saveChanges(entry)"
                ng-show="!!entry.edited">
            {{ 'Save' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-danger"
                ng-click="$ctrl.abortChanges(entry)"
                ng-show="!!entry.edited">
            {{ 'Cancel' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-danger"
                ng-click="$ctrl.removeEntry(entry)"
                ng-show="!!entry.edited">
            {{ 'Remove' | translate }}
        </button>
    </li>
    <li>
        <input id="newEntry" type="text" placeholder="{{ 'New entry' | translate }}" ng-model="$ctrl.newEntry"/>
        <button type="button"
                class="btn btn-xs btn-success"
                ng-click="$ctrl.addEntry()"
                ng-show="!!$ctrl.newEntry">
            {{ 'Add' | translate }}
        </button>
    </li>
</ul>