<ul>
    <li ng-repeat="entry in $ctrl.characters">
        <span ng-show="!entry.edited">{{ entry.name }}</span>
        <button type="button"
                class="btn btn-xs btn-default"
                ng-click="$ctrl.editEntry(entry)"
                ng-show="!entry.edited">
            {{ 'Edit' | translate }}
        </button>
        <form name="formCharacter" ng-show="!!entry.edited">
            <div class="form-group" ng-if="!$ctrl.adventure.id">
                <label for="name">{{ "Name" | translate }}</label>
                <input type="text" class="form-control" id="name" ng-model="entry.name" required>
                <div class="error" ng-show="!entry.name">
                    {{ 'Please fill the name' | translate }}
                </div>
            </div>
            <div ng-repeat="stats in entry.stats">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="stats.name" id="{{ stats.name }}" required>
                    <div class="error" ng-show="!stats.name">
                        {{ 'Please fill the name of the stats' | translate }}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="stats.current" id="{{ stats.name }}" required>
                              <span class="input-group-addon">
                                <label>/</label>
                              </span>
                                <input type="number" class="form-control" ng-model="stats.initial" required>
                            </div>
                            <div class="error" ng-show="!stats.current || !stats.initial">
                                {{ 'Please fill a value' | translate }}
                            </div>
                        </div>
                    </div>
                    <button type="button"
                            class="btn btn-xs btn-danger"
                            aria-label="{{ 'Remove the stats' | translate }}"
                            title="{{ 'Remove the stats' | translate }}"
                            ng-click="$ctrl.removeStats(entry, stats)">
                        {{ 'Remove' | translate }}
                    </button>
                </div>
            </div>
        </form>
        <button type="button"
                class="btn btn-xs btn-success"
                ng-click="$ctrl.saveChanges(entry, formCharacter)"
                ng-show="!!entry.edited">
            {{ 'Save' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-danger"
                ng-click="$ctrl.abortChanges(entry)"
                ng-show="!!entry.edited">
            {{ 'Cancel' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-danger"
                aria-label="{{ 'Remove the character' | translate }}"
                title="{{ 'Remove the character' | translate }}"
                ng-click="$ctrl.displayRemovePopup(entry)"
                ng-show="!!entry.edited && !!entry.deletable">
            {{ 'Remove' | translate }}
        </button>

        <ul>
            <li ng-repeat="stats in entry.stats">
                {{ stats.name + ' [' + stats.current + '/' + stats.initial + ']' }}
                <button type="button" class="btn btn-xs btn-default"
                        aria-label="{{ 'IncrementStatsTitle' | translate: {stats: stats.name} }}"
                        title="{{ 'IncrementStatsTitle' | translate: {stats: stats.name} }}"
                        ng-click="$ctrl.increment(stats)">
                    <span aria-hidden="true"><b>+</b></span>
                </button>
                <button type="button" class="btn btn-xs btn-default"
                        aria-label="{{ 'DecrementStatsTitle' | translate: {stats: stats.name} }}"
                        title="{{ 'DecrementStatsTitle' | translate: {stats: stats.name} }}"
                        ng-click="$ctrl.decrement(stats)">
                    <span aria-hidden="true"><b>-</b></span>
                </button>
            </li>
            <li>
                <input id="newStats" type="text" placeholder="{{ 'New stats' | translate }}" ng-model="$ctrl.newStats"/>
                <button type="button"
                        class="btn btn-xs btn-success"
                        ng-click="$ctrl.addStats(entry)"
                        ng-show="!!$ctrl.newStats">
                    {{ 'Add' | translate }}
                </button>
            </li>
        </ul>
    </li>
    <li>
        <input id="newEntry" type="text" placeholder="{{ 'New character' | translate }}" ng-model="$ctrl.newEntry"/>
        <button type="button"
                class="btn btn-xs btn-success"
                ng-click="$ctrl.addEntry()"
                ng-show="!!$ctrl.newEntry">
            {{ 'Add' | translate }}
        </button>
    </li>
</ul>

<popup config="{{ $ctrl.popupDeleteCharacterConfig }}"></popup>
