<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <h2>{{ 'Book' | translate }} {{ $ctrl.book.name }}</h2>
        <div class="col-md-12">
            <form>
                <h3>{{ 'General' | translate }}</h3>
                <div>
                    <div class="form-group">
                        <label for="name">{{ "Name" | translate }}</label>
                        <input type="text" class="form-control" id="name" ng-model="$ctrl.book.name">
                    </div>
                    <div class="form-group">
                        <label for="authors">{{ "Author(s)" | translate }}</label>
                        <input type="text" class="form-control" id="authors" ng-model="$ctrl.book.authors">
                    </div>
                    <div class="form-group">
                        <label for="description">{{ "Description" | translate }}</label>
                        <textarea id="description" class="form-control" ng-model="$ctrl.book.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="version">{{ "Version" | translate }}</label>
                        <input type="text" class="form-control" id="version" ng-model="$ctrl.book.version">
                    </div>
                    <div class="form-group">
                        <label for="language">{{ "Language" | translate }}</label>
                        <input type="text" class="form-control" id="language" ng-model="$ctrl.book.language">
                    </div>
                    <div class="form-group">
                        <label for="homepage">{{ "Homepage" | translate }}</label>
                        <input type="text" class="form-control" id="homepage" ng-model="$ctrl.book.homepage">
                    </div>
                    <div class="form-group">
                        <label for="isbn">{{ "ISBN" | translate }}</label>
                        <input type="text" class="form-control" id="isbn" ng-model="$ctrl.book.isbn">
                    </div>
                    <div class="form-group">
                        <label for="numberOfParagraphs">{{ "Number of paragraphs" | translate }}</label>
                        <input type="text" class="form-control" id="numberOfParagraphs" ng-model="$ctrl.book.numberOfParagraphs">
                    </div>
                    <div class="form-group">
                        <label for="startParagraphNr">{{ "First paragraph" | translate }}</label>
                        <input type="text" class="form-control" id="startParagraphNr" ng-model="$ctrl.book.startParagraphNr">
                    </div>
                    <div class="form-group">
                        <label for="startGameNote">{{ "Start game's note" | translate }}</label>
                        <textarea id="startGameNote" class="form-control" ng-model="$ctrl.book.startGameNote"></textarea>
                    </div>
                </div>

                <h3>{{ 'Stats generation rules' | translate }}</h3>
                <div>
                </div>

                <h3>{{ 'Initial items' | translate }}</h3>
                <div>
                </div>

                    <!--
            stats : [
                {
                   name : 'Habilité',
                   init: { sixDiceQuantity : 1, constant : 6},
                   battle: {
                       displayed: true,
                       enemyDefaultValue : 5,
                       editableForEnemy : true
                   }
                },
                {
                   name : 'Endurance',
                   init: { sixDiceQuantity : 2, constant : 12},
                   battle: {
                       displayed : true,
                       enemyDefaultValue : 4,
                       editableForEnemy : true
                   }
                },
                {
                   name : 'Chance',
                   init: { sixDiceQuantity : 1, constant : 6},
                   battle: {
                       displayed : true,
                       enemyDefaultValue : undefined,
                       editableForEnemy : false
                   }
                }
            ],
            items : [
                {
                   quantity : 1,
                   description : 'Epée'
                },
                {
                   quantity : 1,
                   description : 'Bouclier'
                },
                {
                   quantity : 1,
                   description : 'Armure de cuir'
                },
                {
                   quantity : 1,
                   description : 'Sac à dos'
                },
                {
                   quantity : 1,
                   description : 'Lanterne'
                },
                {
                   quantity : 10,
                   description : "Repas (restitue 4 points d'endurance)"
                },
                {
                   quantity : 2,
                   description : "Mesures de potion d'Adresse (rend vos points d'HABILITE)"
                },
                {
                   quantity : 2,
                   description : "Mesures de potion de Vigueur (rend vos points d'ENDURANCE)"
                },
                {
                   quantity : 2,
                   description : "Mesures de Bonne Fortune (rend vos points de CHANCE + 1 point)"
                }
            ],
            notes : [
                { note : "Veuilliez choisir soit la potion d'habilité, de force ou de chance (supprimez les potions non choisies de l'inventaire)." }
            ]
                    -->
            </form>
        </div>
        <back-button></back-button>
    </div>
</main>