<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <h2>{{ 'Book' | translate }} {{ $ctrl.book.name }}</h2>
        <div class="col-md-12">
            <form>
                <h3>{{ 'General' | translate }}</h3>
                <div>
                    <div class="form-group">
                        <label for="name">{{ "Name" | translate }}</label>
                        <input type="text" class="form-control" id="name" ng-model="$ctrl.book.name">
                    </div>
                    <div class="form-group">
                        <label for="authors">{{ "Author(s)" | translate }}</label>
                        <input type="text" class="form-control" id="authors" ng-model="$ctrl.book.authors">
                    </div>
                    <div class="form-group">
                        <label for="description">{{ "Description" | translate }}</label>
                        <textarea id="description" class="form-control" ng-model="$ctrl.book.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="version">{{ "Version" | translate }}</label>
                        <input type="text" class="form-control" id="version" ng-model="$ctrl.book.version">
                    </div>
                    <div class="form-group">
                        <label for="language">{{ "Language" | translate }}</label>
                        <input type="text" class="form-control" id="language" ng-model="$ctrl.book.language">
                    </div>
                    <div class="form-group">
                        <label for="homepage">{{ "Homepage" | translate }}</label>
                        <input type="text" class="form-control" id="homepage" ng-model="$ctrl.book.homepage">
                    </div>
                    <div class="form-group">
                        <label for="isbn">{{ "ISBN" | translate }}</label>
                        <input type="text" class="form-control" id="isbn" ng-model="$ctrl.book.isbn">
                    </div>
                    <div class="form-group">
                        <label for="numberOfParagraphs">{{ "Number of paragraphs" | translate }}</label>
                        <input type="text" class="form-control" id="numberOfParagraphs" ng-model="$ctrl.book.numberOfParagraphs">
                    </div>
                    <div class="form-group">
                        <label for="startParagraphNr">{{ "First paragraph" | translate }}</label>
                        <input type="text" class="form-control" id="startParagraphNr" ng-model="$ctrl.book.startParagraphNr">
                    </div>
                    <div class="form-group">
                        <label for="startGameNote">{{ "Start game's note" | translate }}</label>
                        <textarea id="startGameNote" class="form-control" ng-model="$ctrl.book.startGameNote"></textarea>
                    </div>
                </div>

                <!--
        stats : [
            {
               name : 'Habilité',
               init: { sixDiceQuantity : 1, constant : 6},
               battle: {
                   displayed: true,
                   enemyDefaultValue : 5,
                   editableForEnemy : true
               }
            },
            {
               name : 'Endurance',
               init: { sixDiceQuantity : 2, constant : 12},
               battle: {
                   displayed : true,
                   enemyDefaultValue : 4,
                   editableForEnemy : true
               }
            },
            {
               name : 'Chance',
               init: { sixDiceQuantity : 1, constant : 6},
               battle: {
                   displayed : true,
                   enemyDefaultValue : undefined,
                   editableForEnemy : false
               }
            }
        ],
                -->

                <h3>{{ 'Stats rules' | translate }}</h3>
                <div>
                    <table class="table table-striped">
                        <col style="width:20%">
                        <col style="width:30%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:20%">
                        <thead>
                        <tr>
                            <th>
                                {{ 'Name' | translate }}
                            </th>
                            <th>
                                {{ 'Player stats value generation' | translate }}
                            </th>
                            <th aria-label="{{ 'Is this stats displayed in battle?' | translate }}"
                                title="{{ 'Is this stat displayed in battle?' | translate }}">
                                {{ 'For battle?' | translate }}
                            </th>
                            <th aria-label="{{ 'Is it a enemy stats?' | translate }}"
                                title="{{ 'Is it a enemy stats?' | translate }}">
                                {{ 'For enemy?' | translate }}
                            </th>
                            <th aria-label="{{ 'Default value of the stats for enemy' | translate }}"
                                title="{{ 'Default value of the stats for enemy' | translate }}">
                                {{ 'Default enemy value' | translate }}
                            </th>
                            <th></th>
                            <th></th>
                            <th>
                                <button type="button" class="btn btn-default"
                                        aria-label="{{ 'Add note' | translate}}"
                                        title="{{ 'Add note' | translate}}"
                                        ng-click="$ctrl.addRow()"
                                        ng-show="!$ctrl.hasEditedRow()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="row in $ctrl.book.stats">
                            <td>
                                {{ row.name }}
                            </td>

                            <td>
                                {{ row.init.sixDiceQuantity + 'd6' + (!!row.init.constant ? '+' + row.init.constant : '')   }}
                            </td>

                            <td>
                                {{ 'yesno_' + row.battle.displayed | translate }}
                            </td>

                            <td>
                                {{ row.battle.enemyDefaultValue }}
                            </td>

                            <td>
                                {{ 'yesno_' + row.battle.editableForEnemy | translate }}
                            </td>

                            <td>
                                <button type="button" class="btn btn-success"
                                        aria-label="{{ 'Save note changes' | translate}}"
                                        title="{{ 'Save note changes' | translate}}"
                                        ng-click="$ctrl.saveRowChanges(notesTableForm.$invalid, row)"
                                        ng-show="$ctrl.isRowEdited(row)">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger"
                                        aria-label="{{ 'Abort note changes' | translate}}"
                                        title="{{ 'Abort note changes' | translate}}"
                                        ng-click="$ctrl.abortRowChanges()"
                                        ng-show="$ctrl.isRowEdited(row)">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                </button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-default"
                                        aria-label="{{ 'Edit note' | translate}} '{{ row.note | translate }}'"
                                        title="{{ 'Edit note' | translate}} '{{ row.note | translate }}'"
                                        ng-click="$ctrl.editRow(row)"
                                        ng-show="!$ctrl.hasEditedRow()">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger"
                                        aria-label="{{ 'Remove note' | translate }} '{{ row.note | translate }}'"
                                        title="{{ 'Remove note' | translate }} '{{ row.note | translate }}'"
                                        ng-click="$ctrl.displayRemovePopup(row)"
                                        ng-disabled="$ctrl.addedRow"
                                        ng-show="$ctrl.isRowEdited(row)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>{{ 'Initial items' | translate }}</h3>
                <div>
                    <items items="$ctrl.book.items"></items>
                </div>
            </form>
        </div>
        <back-button></back-button>
    </div>
</main>