@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tx3uvs');
  src:  url('fonts/icomoon.eot?tx3uvs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tx3uvs') format('truetype'),
    url('fonts/icomoon.woff?tx3uvs') format('woff'),
    url('fonts/icomoon.svg?tx3uvs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-dice:before {
  content: "\e915";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
