<div id="{{$ctrl.cfg.id}}" class="modal">
    <div class="modal-content">
        <p>{{ $ctrl.cfg.textToDisplay }}</p>
        <div class="form-group" ng-show="!!$ctrl.cfg.withText">
            <input type="text" class="form-control" id="text" ng-model="$ctrl.text" ng-required="!!$ctrl.cfg.textRequired">
        </div>
        <span ng-repeat="choice in $ctrl.cfg.choices">
            <button type="button" class="btn btn-default" ng-click="$ctrl.select(choice, $ctrl.text)">{{ choice | translate }}</button>&nbsp;
        </span>
    </div>
</div>
