<div id="{{$ctrl.data.id}}" ng-click="$ctrl.click()">
    <span>
        {{ $ctrl.data.name + (!!$ctrl.data.tag ? ' (' + $ctrl.data.tag + ')': '') }}
    </span>
    <span class="glyphicon glyphicon-link"
          aria-label="{{ 'Paragraph link' | translate }}"
          title="{{ 'Paragraph link' | translate }}"
          ng-show="!!$ctrl.data.linkNodeId">
    </span>
    <span class="glyphicon glyphicon-question-sign"
          aria-label="{{ 'Paragraph not played yet' | translate }}"
          title="{{ 'Paragraph not played yet' | translate }}"
          ng-show="!!$ctrl.data.unknown">
    </span>
    <span class="glyphicon glyphicon-minus-sign"
          aria-label="{{ 'No way further' | translate }}"
          title="{{ 'No way further' | translate }}"
          ng-show="!$ctrl.data.children && !!$ctrl.data.linkNodeId && !!$ctrl.data.unknown">
    </span>
    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="$ctrl.toogleCollapse()"
            ng-show="!!$ctrl.data.children">
        {{ (!!$ctrl.data.collapsed ? 'Expand': 'Collapse') | translate }}
    </button>
</div>
<div ng-if="!!$ctrl.data.children && !$ctrl.data.collapsed">
    <ul>
        <li class="node" ng-repeat="childNode in $ctrl.data.children">
            <node data="childNode" root-node="$ctrl.rootNode"></node>
        </li>
    </ul>
</div>
