<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'New game' | translate }}</h1>
        </div>

        <!-- novalidate="novalidate" allow to do not display untranslated tooltip "Fill out this field" -->
        <form name="playerForm" novalidate="novalidate" ng-submit="$ctrl.next(playerForm.$invalid)">
            <ol class="breadcrumb">
                <li>{{ 'Select Adventure' | translate }}</li>
                <li class="active">{{ 'Create Player' | translate }}</li>
            </ol>

            <div class="form-group">
                <label for="playerName">{{ "Player's name" | translate }}*</label>
                <input type="text" required class="form-control" id="playerName" ng-model="$ctrl.playerName">
                <div class="error" ng-show="playerForm.$invalid">
                    {{ 'Please fill the player name' | translate }}
                </div>
            </div>

            <div ng-if="$ctrl.hasStats()" class="form-group" ng-repeat="stats in $ctrl.stats">
                <label for="{{ stats.name }}">{{ stats.name }}</label>
                <input type="text" disabled required class="form-control" id="{{ stats.name }}" ng-model="stats.value">
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="$ctrl.back()">{{ 'Back' | translate }}</button>
                <button ng-if="$ctrl.hasStats()"
                        type="button" class="btn btn-default" ng-click="$ctrl.generateStats()">{{ 'Random Stats' | translate }}</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.startGame(playerForm.$invalid)">{{ 'Start Game' | translate }}</button>
            </div>
        </form>
    </div>
</main>