/* to solve navbar hidding main top content */
body {
    padding-top: 70px;
}

.ng-invalid.ng-dirty:required {
    background-color: #ff9999 ! important;
}

.error {
    color: #ff9999;
}

.spacer {
    margin:0; padding:0; height:10px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}