/* to solve navbar hidding main top content */
body {
    padding-top: 70px;
}

/* table hover */
table tr:hover td {
    background: lightgrey;
}

.ng-invalid:required {
    background-color: #ff9999 ! important;
}

:required {
    background-color: #ffff99;
}

.spacer {
    margin:0; padding:0; height:10px;
}