/* to solve navbar hidding main top content */
body {
    padding-top: 70px;
}

.spacer {
    margin:0; padding:0; height:10px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}