<div layout-gt-sm="row" flex layout-align="start center">
    <md-button
               class="md-raised"
               aria-label="{{ 'Go to paragraph' | translate }}"
               title="{{ 'Go to paragraph' | translate }}"
               ng-click="$ctrl.goTo($ctrl.paragraphNrChoice)"
               ng-disabled="!$ctrl.paragraphNrChoice">
        {{ 'Go to paragraph' | translate }}
    </md-button>
    <md-input-container flex-gt-xs>
        <label>{{ "Paragraph" | translate }}</label>
        <input id="goToParagraphNr" type="text" class="form-control" ng-model="$ctrl.paragraphNrChoice">
    </md-input-container>
</div>