<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <button type="button" class="btn btn-default" ng-click="$ctrl.showPopup()">Show Yes/No Popup</button>

        <label>{{ $ctrl.choosen }}</label>

        <div id="{{$ctrl.modalElementId}}" class="modal">
            <div class="modal-content">
                <span class="close" ng-click="$ctrl.closePopup()" ng-show="$ctrl.withCloseButton">x</span>
                <p>{{ $ctrl.text }}</p>
                <!-- TODO space between button -->
                <button type="button" class="btn btn-default" ng-click="$ctrl.clickChoice(choice)" ng-repeat="choice in $ctrl.choices" >{{ choice | translate }}</button>
            </div>
        </div>
    </div>
</main>