<toolbar title="Gamebook Assistant"></toolbar>
<messages></messages>
<main>
    <div layout="row" role="contentinfo">
        <div flex="20" hide-sm hide-xs>
        </div>
        <div flex>
            <div layout="column" ng-cloak class="md-inline-form">
                <md-content layout-padding>
                    <div>
                        <form>
                            <div>
                                <section>
                                    <md-input-container class="md-block">
                                        <label>{{ "Application's version" | translate }}</label>
                                        <input ng-model="$ctrl.appVersion" disabled>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>{{ "Used Local's Storage" | translate }}</label>
                                        <input value="{{$ctrl.usedLocalStorage / 1024 | number : 2 }} / {{$ctrl.remainingCapacity / 1024 | number : 2 }}kb ({{ $ctrl.usedLocalStorageInPercent | number : 2}}%)" disabled>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>{{ "Application's data" | translate }}</label>
                                        <textarea ng-model="$ctrl.applicationData" rows="5" md-no-autogrow disabled></textarea>
                                    </md-input-container>

                                    <div class="form-group">
                                        <label for="importData">{{ "Paste the application's data copied from another browser" | translate }}</label>
                                        <input type="text" class="form-control" ng-model="$ctrl.importData" id="importData" placeholder="{{ 'Imported data' | translate }}">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-danger" ng-click="$ctrl.showPopupConfirmImportData()" aria-label="{{ 'Import' | translate }}">{{ 'Import' | translate }}</button>
                                    </div>
                                </section>
                            </div>
                            <back-button></back-button>
                            <md-button class="md-raised md-primary"
                                       aria-label="{{ 'Delete application\'s data' | translate }}"
                                       title="{{ 'Delete application\'s data' | translate }}"
                                       ng-click="$ctrl.showPopupConfirmDeleteApplicationData()">
                                {{ 'Delete application\'s data' | translate }}
                            </md-button>
                        </form>

                        <popup config="{{ $ctrl.popupConfirmImportApplicationDataConfig }}"></popup>
                        <popup config="{{ $ctrl.popupConfirmDeleteApplicationDataConfig }}"></popup>
                    </div>
                </md-content>
            </div>
        </div>
        <div flex="20" hide-sm hide-xs>
        </div>
    </div>
</main>