<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Paragraph' | translate }} {{ $ctrl.paragraph.paragraphNumber }}</h1>
        </div>

        <div id="paragraphEdit">
            <paragraph></paragraph>
            <notes notes="$ctrl.notes" paragraph-number="{{$ctrl.paragraph.paragraphNumber}}" player-name="{{$ctrl.playerName}}"></notes>
        </div>

        <div id="playerSheet" ng-if="!!$ctrl.playerName">
            <h2>{{ 'Player' | translate }} {{ $ctrl.playerName }}</h2>
            <stats stats="$ctrl.stats"></stats>
            <items items="$ctrl.items"></items>
            <dices></dices>
            <back-button></back-button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.startBattle()">{{ 'Start Battle' | translate }}</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.displayAbandonGamePopup()">{{ 'End Game' | translate }}</button>
        </div>
    </div>

    <end-game-popup config="{{ $ctrl.popupAbandonGameConfig }}"></end-game-popup>
</main>