<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Paragraph' | translate }} {{ $ctrl.paragraph.paragraphNumber }}</h1>
        </div>

        <paragraph></paragraph>

        <table class="table table-striped">
            <col style="width:5%">
            <col style="width:95%">
            <thead>
            <tr>
                <th>{{ 'Actions' | translate }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.startBattle()">{{ 'Start Battle' | translate }}</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default" type="button" ng-click="$ctrl.jumpToParagraph()">{{ 'Go to paragraph' | translate }}</button>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="{{ 'Paragraph number' | translate }}" ng-model="$ctrl.paragraphNumber">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.displayAbandonGamePopup()">{{ 'End Game' | translate }}</button>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="{{ 'Reason' | translate }}" ng-model="$ctrl.endGameReason">
                </td>
            </tr>
            </tbody>
        </table>


        <dices></dices>

        <notes notes="$ctrl.notes" paragraph-number="{{$ctrl.paragraph.paragraphNumber}}" player-name="{{$ctrl.playerName}}"></notes>

        <div class="spacer"></div>
        <stats></stats>

        <div class="spacer"></div>
        <items items="$ctrl.items" readonly="true"></items>
    </div>

    <popup config="{{ $ctrl.popupAbandonGameConfig }}"></popup>
</main>