<navbar></navbar>
<messages></messages>
<main>
    <div class="container bg-white" role="main">
        <div class="page-header">
            <h1>{{ 'Paragraph' | translate }} {{ $ctrl.paragraph.paragraphNumber }}</h1>
        </div>

        <paragraph></paragraph>

        <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="$ctrl.jumpToParagraph()">{{ 'Go to paragraph' | translate }}</button>
                </span>
            <input type="text" id="test" class="form-control" placeholder="{{ 'Paragraph number' | translate }}" ng-model="$ctrl.paragraphNumber">
        </div>

        <div class="spacer"></div>
        <button type="button" class="btn btn-default" ng-click="$ctrl.startBattle()">{{ 'Start Battle' | translate }}</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.displayAbandonGamePopup()">{{ 'End Game' | translate }}</button>
        <div class="spacer"></div>

        <dices></dices>

        <notes notes="$ctrl.notes" paragraph-number="{{$ctrl.paragraph.paragraphNumber}}" player-name="{{$ctrl.playerName}}"></notes>

        <div class="spacer"></div>
        <stats></stats>

        <div class="spacer"></div>
        <items items="$ctrl.items" readonly="true"></items>
    </div>

    <popup config="{{ $ctrl.popupAbandonGameConfig }}"></popup>
</main>