<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-if="$ctrl.hasSoftwareRequirements">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="stats">Stats</a></li>
                <li><a ui-sref="battle">Battle</a></li>
                <li><a ui-sref="items">Items</a></li>
                <li><a ui-sref="notes">Notes</a></li>
                <li><a ui-sref="paragraph">Paragraph</a></li>
                <li><a ui-sref="paths">Paths</a></li>
                <li><a ui-sref="gameplays">Gameplays</a></li>
                <li><a ui-sref="configuration">Configuration</a></li>
                <li><a ui-sref="import">Import</a></li>
                <li><a ui-sref="export">Export</a></li>
            </ul>
        </div>
    </div>
</nav>