<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ 'application.name' | translate }}</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="gamesList">{{ 'Games' | translate }}</a></li>
                <li><a ui-sref="adventuresList">{{ 'Adventures' | translate }}</a></li>
                <li><a ui-sref="librariesList">{{ 'Libraries' | translate }}</a></li>
                <li ng-if="$ctrl.admin"><a ui-sref="administration">{{ 'Administration' | translate }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="about"
                       class="glyphicon glyphicon-info-sign"
                       aria-label="{{ 'About' | translate}}"
                       title="{{ 'About' | translate}}">
                    </a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">
                <a ng-repeat="language in $ctrl.supportedLanguages"
                   href ng-click="$ctrl.changeLanguage(language.code)"
                   ng-show="$ctrl.language !== language.code"
                   aria-label="{{ 'Change language to ' + language.code | translate}}"
                   title="{{ 'Change language to ' + language.code | translate}}">
                    {{ language.code }}
                </a>
            </p>
        </div>
    </div>
</nav>