<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="games">{{ 'Games' | translate }}</a></li>
                <li ng-if="$ctrl.admin"><a ui-sref="configuration">{{ 'Configuration' | translate }}</a></li>
                <li ng-if="$ctrl.admin"><a ui-sref="deleteData">{{ 'Delete data' | translate }}</a></li>
                <li><a ui-sref="about">{{ 'About' | translate }}</a></li>
            </ul>
            <p class="navbar-text navbar-right">
                <a href ng-click="$ctrl.changeLanguage('de')" ng-show="$ctrl.language !== 'de'">de</a>
                <a href ng-click="$ctrl.changeLanguage('fr')" ng-show="$ctrl.language !== 'fr'">fr</a>
                <a href ng-click="$ctrl.changeLanguage('it')" ng-show="$ctrl.language !== 'it'">it</a>
                <a href ng-click="$ctrl.changeLanguage('en')" ng-show="$ctrl.language !== 'en'">en</a>
            </p>
        </div>
    </div>
</nav>