/*
 see following site to know how to internationalise with css:
 https://www.smashingmagazine.com/2014/06/css-driven-internationalization-in-javascript/
 */
.i18n::before, .i18n:lang(en)::before {
   content: attr(data-en);
}

.i18n:lang(fr)::before {
   content: attr(data-fr);
}

.i18n-ok::before, .i18n-ok:lang(en)::before, .i18n-ok:lang(fr)::before {
   content: 'OK'
}

.i18n-cancel::before, .i18n-cancel:lang(en)::before {
   content: 'Cancel'
}

.i18n-cancel::before, .i18n-cancel:lang(fr)::before {
   content: 'Annuler'
}