<div class="row">
    <div class="col-md-11">
        <textarea id="inputCurrentDescription" class="form-control" ng-model="$ctrl.paragraph.description" ng-if="!!$ctrl.isDescriptionEditable()" title="{{ 'description.syntax' | translate }}"></textarea>
        <div ng-if="!$ctrl.isDescriptionEditable()">
            <div ng-repeat="paragraph in $ctrl.paragraphs">
                <ng-repeat ng-repeat="paragraphElement in paragraph">
                    <button class="btn btn-xs btn-default" ng-if="!!paragraphElement.choice && !!$ctrl.isAlreadyChoosen(paragraphElement.text)" ng-click="$ctrl.goTo(paragraphElement.text)">
                        {{ paragraphElement.text }}
                    </button>
                    <button class="btn btn-xs btn-default" ng-if="!!paragraphElement.choice && !$ctrl.isAlreadyChoosen(paragraphElement.text)" ng-click="$ctrl.goTo(paragraphElement.text)">
                        <strong>{{ paragraphElement.text }}</strong>
                    </button>
                    <ng-if ng-if="!paragraphElement.choice">
                        {{ paragraphElement.text }}
                    </ng-if>
                </ng-repeat>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button type="button"
                class="btn btn-xs btn-default"
                ng-click="$ctrl.editDescription()"
                ng-show="!$ctrl.isDescriptionEditable()">
            {{ 'Edit' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-success"
                ng-click="$ctrl.saveDescriptionChanges()"
                ng-show="$ctrl.isDescriptionEditable()">
            {{ 'Save' | translate }}
        </button>
        <button type="button"
                class="btn btn-xs btn-danger"
                ng-click="$ctrl.abortDescriptionChanges()"
                ng-show="$ctrl.isDescriptionEditable()">
            {{ 'Cancel' | translate }}
        </button>
    </div>
</div>
